title = "About"
url = "about/"
layout = "default"
==
<!-- Page Header
  ============================================= -->
<section class="page-header page-header-text-light py-0 mb-0">
  <section class="hero-wrap section">
    <div class="hero-mask opacity-7 bg-dark"></div>
    <div class="hero-bg hero-bg-scroll" style="background-image:url({{ 'assets/images/prescrire-medicaents.jpg'| theme}});"></div>
    <div class="hero-content" style="height: 150px;">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h1 class="text-11 font-weight-500 text-white mb-4">Qui sommes nous ?</h1>
            <!--<p class="text-5 text-white line-height-4 mb-4">Our mission is to help you save on transfer fees and exchange rates!</p>
            <a href="#" class="btn btn-primary m-2">Open a Free Account</a> <a class="btn btn-outline-light video-btn m-2" href="#" data-src="https://www.youtube.com/embed/7e90gBu4pas" data-toggle="modal" data-target="#videoModal"><span class="mr-2"><i class="fas fa-play-circle"></i></span>See How it Works</a> </div>-->
          </div>
        </div>
      </div>
  </section>
</section>
<!-- Page Header end -->


<!-- Content
  ============================================= -->
<div id="content">

  <!-- Who we are
    ============================================= -->
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 d-flex">
          <div class="my-auto px-0 px-lg-5 mx-2">
            <h2 class="text-9">Qui sommes nous ?</h2>
            <br>
            <p class="text-4">
              <b>H&BLESSING CARE</b> est un système de marketing relationnel qui a pour mission de mettre à la disposition des
              populations des produits naturelles de bien-être de haute qualité, avec des coûts à la portée de tous.
            </p>
            <p class="text-4">
              Le grand besoin des populations mondiales, africaines en particulier, en bien-être et en produits
              alimentaires naturels (bio) se fait de plus en plus croissant et difficile à satisfaire vu l’abondance des
              produits de l’industrie de consommation. C’est donc pour permettre à tous d’avoir accès au bien-être, à
              tous de satisfaire au vif désir de vivre en bonne santé, sans stress,  heureux , que le programme
              <b>H&BLESSING-CARE</b> met à la disposition des masses populaires ses produits de bien-être et compléments
              alimentaires exceptionnels .
            
            </p>
            <p class="text-4">
              Nos excellents produits sont accessibles à tous , avec l’un des meilleurs programme de rémunération facile
              à appliquer dans le monde du marketing relationnel.

            </p>
            <p class="text-4">
              La possibilité est ici donnée à toutes les couches sociales et professionnelles de se faire des revenus
              additionnels, d’avoir des sources de revenu certains, durables et productives en tout temps.
            </p>
            <p class="text-4">
              Toute personne désireuse de révolutionner sa situation socio-économique, de créer sa propre entreprise de
              distribution peut adhérer à <b>H&BLESSING-Care</b> pour distribuer indépendamment nos produits en devenant
              propriétaire d’un compte personnel qui vous permettra de bénéficier d’un support client personnel, du
              matériel de gestion en ligne .
            </p>
            <p class="text-4">
              Que vous soyez à la recherche d'une santé solide et prospère, d’une source de revenu supplémentaire, ou
              d’un nouveau programme de Marketing relationnel, <b>H&BLESSING-Care</b> est désormais votre partenaire idéal.
            </p>
            <p class="text-4">
              Votre engagement, votre ferveur, votre endurance et votre dynamisme , en plus de l’efficacité et la
              fiabilité du système <b>H&BLESSING-CARE</b>, feront de vous et nous une équipe gagnante et leader dans le monde
              de la vente relationnelle. Ensemble, nous ferons des exploits !
            </p>
            <p class="text-4">
              BIENVENUE A H&BLESSING-CARE, votre partenaire santé idéal pour le bien-être et le succès dans les
                affaires !
            </p>
          </div>
        </div>
        <!--<div class="col-lg-6 my-auto text-center"> <img class="img-fluid shadow-lg rounded-lg" src="{{ 'assets/images/who-we-are.jpg' | theme }}" alt=""> </div>-->
      </div>
    </div>
  </section>
  <!-- Who we are end -->

  <!-- Our Values
    ============================================= -->
  <!--<section class="section bg-white">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-lg-6 order-2 order-lg-1">
            <div class="row">
              <div class="col-6 col-lg-7 ml-auto mb-lg-n5"> <img class="img-fluid rounded-lg shadow-lg" src="{{ 'assets/images/our-values-vision.jpg' | theme }}" alt="banner"> </div>
              <div class="col-6 col-lg-8 mt-lg-n5"> <img class="img-fluid rounded-lg shadow-lg" src="{{ 'assets/images/our-values-mission.jpg'|theme }}" alt="banner"> </div>
            </div>
          </div>
          <div class="col-lg-6 d-flex order-1 order-lg-2">
            <div class="my-auto px-0 px-lg-5">
              <h2 class="text-9 mb-4">Our Values</h2>
              <h4 class="text-4 font-weight-500">Our Mission</h4>
              <p class="tex-3" >Quidam lisque persius interesset his et, in quot quidam persequeris vim, ad mea essent possim iriure. Lisque persius interesset his et, in quot quidam persequeris vim, ad mea essent possim iriure. lisque persius interesset his et, in quot quidam mea essent possim iriure.</p>
              <h4 class="text-4 font-weight-500 mb-2">Our Vision</h4>
              <p class="tex-3" >Persequeris quidam lisque persius interesset his et, in quot quidam vim, ad mea essent possim iriure. Lisque persius interesset his et, in quot quidam persequeris vim, ad mea essent possim iriure. lisque persius interesset his et, in quot quidam.</p>
              <h4 class="text-4 font-weight-500 mb-2">Our Goal</h4>
              <p class="tex-3" >Lisque persius interesset his et, in quot quidam persequeris vim, ad mea essent possim iriure. Lisque persius interesset his et, in quot quidam persequeris vim, ad mea essent possim iriure. lisque persius interesset his et, in quot quidam mea essent possim iriure.</p>
            </div>
          </div>
        </div>
      </div>
    </section>-->
  <!-- Our Values end -->

</div>
<!-- Content end -->