title = "Actualité"
url = "actualites/"
layout = "default"
[ListeActualites]
==


<section class="page-header page-header-text-light py-0 mb-0">
    <section class="hero-wrap section">
        <div class="hero-mask opacity-7 bg-dark"></div>
        <div class="hero-bg hero-bg-scroll" style="background-image:url({{ 'assets/images/prescrire-medicaents.jpg'| theme}});">
        </div>
        <div class="hero-content" style="height: 150px;">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <h1 class="text-11 font-weight-500 text-white mb-4">Liste des actualités</h1>
                        <!--<p class="text-5 text-white line-height-4 mb-4">Our mission is to help you save on transfer fees and exchange rates!</p>
            <a href="#" class="btn btn-primary m-2">Open a Free Account</a> <a class="btn btn-outline-light video-btn m-2" href="#" data-src="https://www.youtube.com/embed/7e90gBu4pas" data-toggle="modal" data-target="#videoModal"><span class="mr-2"><i class="fas fa-play-circle"></i></span>See How it Works</a> </div>-->
                    </div>
                </div>
            </div>
    </section>
</section>

<!-- What can you do end -->
<style>
    .bottommargin {
        margin-bottom: 50px !important;
    }

    .entry-image,
    .entry-image .slide a,
    .entry-image img,
    .entry-image>a {
        display: block;
        position: relative;
        width: 100%;
        height: auto;
    }

    .entry-image {
        margin-bottom: 30px;
    }

    .entry-image,
    .entry-image .slide a,
    .entry-image img,
    .entry-image>a {
        display: block;
        position: relative;
        width: 100%;
        height: auto;
    }

    .actualite a {
        text-decoration: none !important;
    }

    .ipost .entry-image img {
        border-radius: 0;
    }

    .entry-image,
    .entry-image .slide a,
    .entry-image img,
    .entry-image>a {
        display: block;
        position: relative;
        width: 100%;
        height: auto;
    }

    .ipost .entry-title h3,
    .ipost .entry-title h4 {
        margin: 0;
        font-size: 16px;
        font-weight: 600;
    }

    .ipost .entry-title h3 a,
    .ipost .entry-title h4 a {
        color: #333;
    }

    .ipost .entry-meta {
        margin-right: -10px;
    }

    .entry-meta {
        margin: 10px -10px -15px 0;
        margin-right: -10px;
        list-style: none;
    }

    .ipost .entry-meta li {
        font-size: 13px;
        margin-right: 10px;
    }

    .entry-meta li {
        float: left;
        font-size: 13px;
        line-height: 14px;
        margin: 0 10px 15px 0;
        margin-right: 10px;
        color: #999;
        font-family: crete round, serif;
        font-style: italic;
    }

    .ipost .entry-meta li {
        font-size: 13px;
    }

    .entry-meta li {
        font-size: 13px;
        line-height: 14px;
        color: #999;
        font-family: crete round, serif;
        font-style: italic;
    }

    .entry-meta {
        list-style: none;
    }

    .entry-meta li i {
        position: relative;
        top: 1px;
        font-size: 14px;
        margin-right: 3px;
    }

    .ipost .entry-meta li {
        font-size: 13px;
    }

    .entry-meta li {
        font-size: 13px;
        line-height: 14px;
        color: #999;
        font-family: crete round, serif;
        font-style: italic;
    }

    .entry-meta li::before {
        content: '/';
        display: inline-block;
        margin-right: 10px;
        opacity: .5;
    }

    .entry-meta li a {
        color: #999;
    }

    .entry-meta li i {
        position: relative;
        top: 1px;
        font-size: 14px;
        margin-right: 3px;
    }

    .icon-comments::before {
        content: "\e9b8";
    }

    .ipost .entry-content {
        margin-top: 20px;
    }

    .entry-content {
        position: relative;
    }

    #content p {
        line-height: 1.8;
    }

    .ipost .entry-content p {
        margin-bottom: 0;
    }

    .clearfix::after {
        display: block;
        clear: both;
        content: "";
    }
</style>
<!-- How work ============================================= -->
<section class="section" style="background-color: #fff;">
    <div class="container actualite">
        <div class="row">
            {% for record in records %}
            <div class="col-lg-3 col-md-6 bottommargin">
                <div class="ipost clearfix">
                    <div class="entry-image">
                        <a href="{{ url('detail-actualite/') }}/{{ record.id }}"><img class="image_fade" src="{{ record.cover.getpath }}" alt="Image"
                                style="opacity: 1;"></a>
                    </div>
                    <div class="entry-title">
                        <h3><a href="{{ url('detail-actualite/') }}/{{ record.id }}">{{ record.libelle }}</a>
                        </h3>
                    </div>
                    <ul class="entry-meta clearfix">
                        <li><i class="icon-calendar3"></i> {{ record.published_at }}</li>
                        <!--<li><a href="blog-single.html#comments"><i class="icon-comments"></i> 53</a></li>-->
                    </ul>
                    <div class="entry-content">
                        <p>{{ record.description }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <!--<nav class="pagination-next-prev">
            <ul>
                {% if records.currentPage > 1 %}
                <li><a href="{{ this.page.baseFileName|page({page: records.currentPage-1 }) }}" class="prev"><i
                            class="fa fa-angle-double-left"></i>
                        Précédent</a></li>
                {% endif %}
                {% if records.lastPage > records.currentPage %}
                <li><a href="{{ this.page.baseFileName|page({page: records.currentPage+1 }) }}" class="next">Suivant <i
                            class="fa fa-angle-double-right"></i></a></li>
                {% endif %}
            </ul>
        </nav>-->

        <!-- Pagination ============================================= -->
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center mt-4 mb-0" style="margin-top: 0px !important;margin-bottom: 20px !important;">
                {{ records| raw }}
                <!--<li class="page-item disabled"> <a class="page-link" href="#" tabindex="-1"><i
                            class="fas fa-angle-left"></i></a> </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active"> <a class="page-link" href="#">2 <span
                            class="sr-only">(current)</span></a> </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item d-flex align-content-center flex-wrap text-muted text-5 mx-1">......</li>
                <li class="page-item"><a class="page-link" href="#">15</a></li>
                <li class="page-item"> <a class="page-link" href="#"><i class="fas fa-angle-right"></i></a>
                </li>-->
            </ul>
        </nav>
    </div>
</section>