title = "Contact"
url = "contact"
layout = "default"
[Contact]
==
<?php
    public function onSendEmail(){
        $emailFrom = post('email');
        $email = "bootnetcrasher@gmail.com";
        $vars = ["content" => post('content')];
        $sujet = post('nameAndSurname');
        \Mail::send('Mail::send.support', $vars, function($message) use($email, $sujet, $emailFrom){
            $message->to($email, 'Support');
            $message->subject($sujet);
            $message->from($emailFrom);
        });
        \Flash::success("Votre mail a été envoyé avec succès !");
        return redirect(Request::url());
    }
?>
==


<!-- Page Header
  ============================================= -->
<section class="page-header page-header-text-light py-0 mb-0">
    <section class="hero-wrap section">
        <div class="hero-mask opacity-7 bg-dark"></div>
        <div class="hero-bg hero-bg-scroll" style="background-image:url({{ 'assets/images/prescrire-medicaents.jpg'| theme}});">
        </div>
        <div class="hero-content" style="height: 150px;">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <h1 class="text-11 font-weight-500 text-white mb-4">Contact</h1>
                        <!--<p class="text-5 text-white line-height-4 mb-4">Our mission is to help you save on transfer fees and exchange rates!</p>
            <a href="#" class="btn btn-primary m-2">Open a Free Account</a> <a class="btn btn-outline-light video-btn m-2" href="#" data-src="https://www.youtube.com/embed/7e90gBu4pas" data-toggle="modal" data-target="#videoModal"><span class="mr-2"><i class="fas fa-play-circle"></i></span>See How it Works</a> </div>-->
                    </div>
                </div>
            </div>
    </section>
</section>
<!-- Page Header end -->



<!-- Content
    ============================================= -->
<div id="content">
    <div class="container" style="padding-top: 10px;">
        {% flash %}
            <div class="alert alert-success" style="text-align: center;">{{ message }}</div>
        {% endflash %}
        <div class="row" style="padding-top: 14px;">

            <div class="col-md-4 mb-4">
                <div class="bg-white shadow-md rounded h-100 p-3">
                    <div class="featured-box text-center">
                        <div class="featured-box-icon text-primary mt-4"> <i class="fas fa-map-marker-alt"></i></div>
                        <h3>Situation géographique</h3>
                        <p>{{ situationGeographique.valeur }}</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="bg-white shadow-md rounded h-100 p-3">
                    <div class="featured-box text-center">
                        <div class="featured-box-icon text-primary mt-4"> <i class="fas fa-phone"></i> </div>
                        <h3>Téléphone</h3>
                        <p class="mb-0">{{ tel1.valeur }}</p>
                        <p class="mb-0">{{ tel2.valeur }}</p>
                        <p class="mb-0">{{ tel3.valeur }}</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="bg-white shadow-md rounded h-100 p-3">
                    <div class="featured-box text-center">
                        <div class="featured-box-icon text-primary mt-4"> <i class="fas fa-envelope"></i> </div>
                        <h3>Email</h3>
                        <p>{{ email.valeur }}</p>
                    </div>
                </div>
            </div>




            <div class="offset-md-1 col-md-10">
                <form id="signupForm" method="post" data-request-flash data-request="onSendEmail">
                <div class="row">
                    <div class="col-md-6">
                    <div class="form-group">
                    <label for="emailAddress">Nom et prénoms</label>
                    <input type="text" class="form-control" id="emailAddress" required
                        placeholder="Entrez votre nom et prénoms" name="nameAndSurname">
                </div>
                </div>
                 <div class="col-md-6">
                    <div class="form-group">
                    <label for="emailAddress">Email</label>
                    <input type="email" class="form-control" id="emailAddress" required
                        placeholder="Entrez votre email" name="email">
                </div>
                </div>
                </div>
                <div class="form-group">
                    <label for="loginPassword">Message</label>
                    <textarea class="form-control" id="loginPassword" rows="5" name="content"></textarea>
                </div>
                <button class="float-right col-md-3 btn btn-primary btn-block my-4" type="submit">Envoyer</button>
            </form>
            </div>

             <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <iframe
                src="{{ localisation.valeur }}"
                width="100%" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>


            <!--<div class="col-12 mb-4">
                <div class="text-center py-5 px-2">
                    <h2 class="text-8">Get in touch</h2>
                    <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <div class="d-flex flex-column">
                        <ul class="social-icons social-icons-lg social-icons-colored justify-content-center">
                            <li class="social-icons-facebook"><a data-toggle="tooltip" href="http://www.facebook.com/"
                                    target="_blank" title="" data-original-title="Facebook"><i
                                        class="fab fa-facebook-f"></i></a></li>
                            <li class="social-icons-twitter"><a data-toggle="tooltip" href="http://www.twitter.com/"
                                    target="_blank" title="" data-original-title="Twitter"><i
                                        class="fab fa-twitter"></i></a></li>
                            <li class="social-icons-google"><a data-toggle="tooltip" href="http://www.google.com/"
                                    target="_blank" title="" data-original-title="Google"><i
                                        class="fab fa-google"></i></a></li>
                            <li class="social-icons-linkedin"><a data-toggle="tooltip" href="http://www.linkedin.com/"
                                    target="_blank" title="" data-original-title="Linkedin"><i
                                        class="fab fa-linkedin-in"></i></a></li>
                            <li class="social-icons-youtube"><a data-toggle="tooltip" href="http://www.youtube.com/"
                                    target="_blank" title="" data-original-title="Youtube"><i
                                        class="fab fa-youtube"></i></a></li>
                            <li class="social-icons-instagram"><a data-toggle="tooltip" href="http://www.instagram.com/"
                                    target="_blank" title="" data-original-title="Instagram"><i
                                        class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>-->

        </div>
    </div>
</div>