title = "Home"
url = "/"
layout = "default"
is_hidden = 0

[Home]

[newsSubscribe]

[simplegoogleanalytics]
domain = "auto"

[googleTracker]
==
<style>
    .owl-stage-outer.owl-height{
        height: 400px !important;
    }

    .hero-bg{
        height: 400px !important;
    }
</style>
<!-- Content ============================================= -->
<div id="content">

    <!-- Slideshow ============================================= -->
    <div class="owl-carousel owl-theme single-slideshow" data-autoplay="true" data-loop="true" data-autoheight="true"
        data-nav="true" data-items="1">
        {% for banniere in bannieres %}
            <div class="item">
                <section class="hero-wrap section shadow-md">
                    <div class="hero-bg" style="background-image:url({{ banniere.cover.getpath }});">
                    </div>

                    <div class="hero-content py-2 py-lg-5">
                        <div class="container text-center">
                        </div>
                    </div>
                </section>
            </div>
        {% endfor %}
        
    </div>
    <!-- Slideshow end -->

    <!-- Why choose ============================================= -->
    <section class="section bg-light" style="padding-top: 30px;padding-bottom: 30px;">
        <div class="container">
            <h2 class="text-9 text-center">Nos Produits</h2>
            <!--<p class="text-4 text-center mb-5">Here’s Top 4 reasons why using a Payyed account for manage your
                money.</p>-->

            <div class="card" style="margin-top: 0;border: 0px solid #fff">
                <div class="card-body" style="padding-bottom: 0px;padding-top: 0px;">
                    {% for produit in produits %}
                        <div class="col-md-4 float-left" style="margin-bottom: 30px">
                            <div class="card" style="width: 18rem;">
                                <div class="card-header" style="padding: 0px;
                                width: 100%;
                                background-color: #fff;
                                border-bottom-width: 0px;">
                                    {% if produit.cover and produit.cover.getPath %}
                                        <img src="{{ produit.cover.getPath }}" class="card-img-top"  style="height: 249px" alt="...">
                                    {% else %}
                                        <svg style="height: 255px" class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
                                    {% endif %}
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title" style="text-align: center;">{{produit.nom}} </h5>
                                    <p class="card-title" style="text-align: center;">{{produit.prix}} FCFA</p>
                                    <a href="{{url('produits')}}/{{ produit.id }}" class="btn btn-primary" style="width: 100%;">Détail</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}    
                </div>
            </div>

            <!--<div class="row">
                <div class="col-sm-6 col-lg-3 mb-5 mb-lg-0">
                    <div class="featured-box">
                        <div class="featured-box-icon text-primary"> <i class="fas fa-hand-pointer"></i> </div>
                        <h3>Easy to use</h3>
                        <p class="text-3">Lisque persius interesset his et, in quot quidam persequeris vim, ad
                            mea essent possim iriure.</p>
                        <a href="#" class="btn-link text-3">Learn more<i
                                class="fas fa-chevron-right text-1 ml-2"></i></a>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 mb-5 mb-lg-0">
                    <div class="featured-box">
                        <div class="featured-box-icon text-primary"> <i class="fas fa-share"></i> </div>
                        <h3>Faster Payments</h3>
                        <p class="text-3">Persius interesset his et, in quot quidam persequeris vim, ad mea
                            essent possim iriure.</p>
                        <a href="#" class="btn-link text-3">Learn more<i
                                class="fas fa-chevron-right text-1 ml-2"></i></a>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 mb-5 mb-sm-0">
                    <div class="featured-box">
                        <div class="featured-box-icon text-primary"> <i class="fas fa-dollar-sign"></i> </div>
                        <h3>Lower Fees</h3>
                        <p class="text-3">Essent lisque persius interesset his et, in quot quidam persequeris
                            vim, ad mea essent possim iriure.</p>
                        <a href="#" class="btn-link text-3">Learn more<i
                                class="fas fa-chevron-right text-1 ml-2"></i></a>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="featured-box">
                        <div class="featured-box-icon text-primary"> <i class="fas fa-lock"></i> </div>
                        <h3>100% secure</h3>
                        <p class="text-3">Quidam lisque persius interesset his et, in quot quidam persequeris
                            vim, ad mea essent possim iriure.</p>
                        <a href="#" class="btn-link text-3">Learn more<i
                                class="fas fa-chevron-right text-1 ml-2"></i></a>
                    </div>
                </div>
            </div>-->

            <div class="text-center mt-4"><a href="{{ url('produits') }}" class="btn-link text-4">Voir plus<i
                class="fas fa-chevron-right text-2 ml-2"></i></a></div> 
        </div>
    </section>
    <!-- Why choose end -->

    <!-- Payment Solutions ============================================= -->
    <!--<section class="section">
        <div class="container overflow-hidden">
            <div class="row">
                <div class="col-lg-5 col-xl-6 d-flex">
                    <div class="my-auto pb-5 pb-lg-0">
                        <h2 class="text-9">Payment Solutions for anyone.</h2>
                        <p class="text-4">Quidam lisque persius interesset his et, in quot quidam persequeris
                            vim, ad mea essent possim iriure. Lisque persius interesset his et, in quot quidam
                            persequeris vim, ad mea essent possim iriure. lisque persius interesset his et, in
                            quot quidam mea essent possim iriure.</p>
                        <a href="#" class="btn-link text-4">Find more solution<i
                                class="fas fa-chevron-right text-2 ml-2"></i></a>
                    </div>
                </div>
                <div class="col-lg-7 col-xl-6">
                    <div class="row banner style-2 justify-content-center">
                        <div class="col-12 col-sm-6 mb-4 text-center">
                            <div class="item rounded shadow d-inline-block"> <a href="#">
                                    <div class="caption rounded-bottom">
                                        <h2 class="text-5 font-weight-400 mb-0">Freelancer</h2>
                                    </div>
                                    <div class="banner-mask"></div>
                                    <img class="img-fluid" src="{{ 'assets/images/anyone-freelancer.jpg'|theme }}"
                                        width="410" height="350" alt="banner">
                                </a> </div>
                        </div>
                        <div class="col-12 col-sm-6 mb-4 text-center">
                            <div class="item rounded shadow d-inline-block"> <a href="#">
                                    <div class="caption rounded-bottom">
                                        <h2 class="text-5 font-weight-400 mb-0">Online Shopping</h2>
                                    </div>
                                    <div class="banner-mask"></div>
                                    <img class="img-fluid" src="{{ 'assets/images/anyone-online-shopping.jpg'|theme }}"
                                        width="410" height="350" alt="banner">
                                </a> </div>
                        </div>
                        <div class="col-12 col-sm-6 mb-4 mb-sm-0 text-center">
                            <div class="item rounded shadow d-inline-block"> <a href="#">
                                    <div class="caption rounded-bottom">
                                        <h2 class="text-5 font-weight-400 mb-0">Online Sellers</h2>
                                    </div>
                                    <div class="banner-mask"></div>
                                    <img class="img-fluid" src="{{ 'assets/images/anyone-online-sellers.jpg'|theme }}"
                                        width="410" height="350" alt="banner">
                                </a> </div>
                        </div>
                        <div class="col-12 col-sm-6 text-center">
                            <div class="item rounded shadow d-inline-block"> <a href="#">
                                    <div class="caption rounded-bottom">
                                        <h2 class="text-5 font-weight-400 mb-0">Affiliate Marketing</h2>
                                    </div>
                                    <div class="banner-mask"></div>
                                    <img class="img-fluid"
                                        src="{{ 'assets/images/anyone-affiliate-marketing.jpg'|theme }}" width="410"
                                        height="350" alt="banner">
                                </a> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>-->
    <!-- Payment Solutions end -->

    <!-- What can you do ============================================= -->
    <!--<section class="section" style="padding-top: 38px;">
        <div class="container">
            <h2 class="text-9 text-center">What can you do with Payyed?</h2>
            <p class="text-4 text-center mb-5">Lorem Ipsum is simply dummy text of the printing and typesetting
                industry.</p>
            <div class="row">
                <div class="col-sm-6 col-lg-3 mb-4"> <a href="#">
                        <div class="featured-box style-5 rounded">
                            <div class="featured-box-icon text-primary"> <i class="fas fa-share-square"></i>
                            </div>
                            <h3>Send Money</h3>
                        </div>
                    </a> </div>
                <div class="col-sm-6 col-lg-3 mb-4"> <a href="#">
                        <div class="featured-box style-5 rounded">
                            <div class="featured-box-icon text-primary"> <i class="fas fa-check-square"></i>
                            </div>
                            <h3>Receive Money</h3>
                        </div>
                    </a> </div>
                <div class="col-sm-6 col-lg-3 mb-4"> <a href="#">
                        <div class="featured-box style-5 rounded">
                            <div class="featured-box-icon text-primary"> <i class="fas fa-user-friends"></i>
                            </div>
                            <h3>Pay a Friend</h3>
                        </div>
                    </a> </div>
                <div class="col-sm-6 col-lg-3 mb-4"> <a href="#">
                        <div class="featured-box style-5 rounded">
                            <div class="featured-box-icon text-primary"> <i class="fas fa-shopping-bag"></i>
                            </div>
                            <h3>Online Shopping</h3>
                        </div>
                    </a> </div>
            </div>
            <div class="text-center mt-4"><a href="#" class="btn-link text-4">See more can you do<i
                        class="fas fa-chevron-right text-2 ml-2"></i></a></div>
        </div>
    </section>-->
    <!-- What can you do end -->
    <style>
        .bottommargin {
            margin-bottom: 50px !important;
        }

        .entry-image,
        .entry-image .slide a,
        .entry-image img,
        .entry-image>a {
            display: block;
            position: relative;
            width: 100%;
            height: auto;
        }

        .entry-image {
            margin-bottom: 30px;
        }

        .entry-image,
        .entry-image .slide a,
        .entry-image img,
        .entry-image>a {
            display: block;
            position: relative;
            width: 100%;
            height: auto;
        }

        .actualite a {
            text-decoration: none !important;
            color: #1abc9c;
        }

        .ipost .entry-image img {
            border-radius: 0;
        }

        .entry-image,
        .entry-image .slide a,
        .entry-image img,
        .entry-image>a {
            display: block;
            position: relative;
            width: 100%;
            height: auto;
        }

        .ipost .entry-title h3,
        .ipost .entry-title h4 {
            margin: 0;
            font-size: 16px;
            font-weight: 600;
        }

        .ipost .entry-title h3 a,
        .ipost .entry-title h4 a {
            color: #333;
        }

        .ipost .entry-meta {
            margin-right: -10px;
        }

        .entry-meta {
            margin: 10px -10px -15px 0;
            margin-right: -10px;
            list-style: none;
        }

        .ipost .entry-meta li {
            font-size: 13px;
            margin-right: 10px;
        }

        .entry-meta li {
            float: left;
            font-size: 13px;
            line-height: 14px;
            margin: 0 10px 15px 0;
            margin-right: 10px;
            color: #999;
            font-family: crete round, serif;
            font-style: italic;
        }

        .ipost .entry-meta li {
            font-size: 13px;
        }

        .entry-meta li {
            font-size: 13px;
            line-height: 14px;
            color: #999;
            font-family: crete round, serif;
            font-style: italic;
        }

        .entry-meta {
            list-style: none;
        }

        .entry-meta li i {
            position: relative;
            top: 1px;
            font-size: 14px;
            margin-right: 3px;
        }

        .ipost .entry-meta li {
            font-size: 13px;
        }

        .entry-meta li {
            font-size: 13px;
            line-height: 14px;
            color: #999;
            font-family: crete round, serif;
            font-style: italic;
        }

        .entry-meta li::before {
            content: '/';
            display: inline-block;
            margin-right: 10px;
            opacity: .5;
        }

        .entry-meta li a {
            color: #999;
        }

        .entry-meta li i {
            position: relative;
            top: 1px;
            font-size: 14px;
            margin-right: 3px;
        }

        .icon-comments::before {
            content: "\e9b8";
        }

        .ipost .entry-content {
            margin-top: 20px;
        }

        .entry-content {
            position: relative;
        }

        #content p {
            line-height: 1.8;
        }

        .ipost .entry-content p {
            margin-bottom: 0;
        }


        .clearfix::after {

            display: block;
            clear: both;
            content: "";
        }

        a {
            text-decoration: none !important;
            color: #1abc9c;
        }
    </style>
    <!-- How work ============================================= -->
    <section class="section bg-light" style="padding-top: 0px;padding-bottom: 30px;">
        <div class="container actualite">
            <h2 class="text-9 text-center">Actualités</h2>
            <div class="row" style="padding-top: 30px;">
                {% for actualite in actualites %}
                    <div class="col-lg-3 col-md-6 bottommargin">
                        <div class="ipost clearfix">
                            <div class="entry-image">
                                <a href="{{ url('detail-actualite/') }}/{{ actualite.id }}"><img class="image_fade" src="{{ actualite.cover.getpath }}" alt="Image"
                                        style="opacity: 1;"></a>
                            </div>
                            <div class="entry-title">
                                <h3><a href="{{ url('detail-actualite/') }}/{{ actualite.id }}">{{ actualite.libelle }}</a>
                                </h3>
                            </div>
                            <ul class="entry-meta clearfix">
                                <li><i class="icon-calendar3"></i> {{ actualite.published_at }}</li>
                                <!--<li><a href="blog-single.html#comments"><i class="icon-comments"></i> 53</a></li>-->
                            </ul>
                            <div class="entry-content">
                                <p>{{ actualite.description }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="text-center mt-4"><a href="{{ url('actualites') }}" class="btn-link text-4">Voir plus<i
                class="fas fa-chevron-right text-2 ml-2"></i></a></div>
        </div>
    </section>
    <!--<section class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card bg-dark-3 shadow-sm border-0"> <img class="card-img opacity-8"
                            src="{{ 'assets/images/how-work.jpg'| theme }}" width="570" height="362"
                            alt="banner">
                        <div class="card-img-overlay p-0"> <a class="d-flex h-100 video-btn" href="#"
                                data-src="https://www.youtube.com/embed/7e90gBu4pas" data-toggle="modal"
                                data-target="#videoModal"> <span
                                    class="btn-video-play bg-white shadow-md rounded-circle m-auto"><i
                                        class="fas fa-play"></i></span> </a> </div>
                    </div>
                </div>
                <div class="col-lg-6 mt-5 mt-lg-0">
                    <div class="ml-4">
                        <h2 class="text-9">How does it work?</h2>
                        <p class="text-4">Quidam lisque persius interesset his et, in quot quidam persequeris
                            essent possim iriure. Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry.</p>
                        <ul class="list-unstyled text-3 line-height-5">
                            <li><i class="fas fa-check mr-2"></i>Sign Up Account</li>
                            <li><i class="fas fa-check mr-2"></i>Receive & Send Payments from worldwide</li>
                            <li><i class="fas fa-check mr-2"></i>Your funds will be transferred to your local
                                bank account</li>
                        </ul>
                        <a href="#" class="btn btn-outline-primary shadow-none mt-2">Open a Free Account</a>
                    </div>
                </div>
            </div>
        </div>
    </section>-->
    <!-- How work end -->

    <!-- Testimonial ============================================= -->
    <section class="section" style="padding-top: 30px; padding-bottom: 30px;">
        <div class="container">
            <h2 class="text-9 text-center">Ce que les gens disent de H&BLESSING-Call</h2>
            <!--<p class="text-4 text-center mb-4">A payments experience people love to talk about</p>-->
            <div class="owl-carousel owl-theme" data-autoplay="true" data-nav="true" data-loop="true" data-margin="30"
                data-slideby="2" data-stagepadding="5" data-items-xs="1" data-items-sm="1" data-items-md="2"
                data-items-lg="2">
                {% for temoignage in temoignages %}
                    <div class="item">
                        <div class="testimonial rounded text-center p-4">
                            <p class="text-4">{{ temoignage.description }}</p>
                            <strong class="d-block font-weight-500">Jay Shah</strong> <span class="text-muted">Founder at
                                Icomatic Pvt Ltd</span>
                        </div>
                    </div>
                {% endfor %}
            <!--<div class="text-center mt-4"><a href="#" class="btn-link text-4">See more people review<i
                        class="fas fa-chevron-right text-2 ml-2"></i></a></div>-->
        </div>
    </section>
    <!-- Testimonial end -->

    <section class="section" style="padding-top: 40px;padding-bottom: 40px;">
        <div class="container overflow-hidden">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-9 text-center"><i class="fa fa-users" style="color: #1e6ea2 !important"></i></h2>
            <h2 class="text-9 text-center">Visiteurs</h2>
            <h2 class="text-9 text-center">50</h2>
                </div>
            </div>
        </div>
    </section>

    <!-- Customer Support ============================================= -->
    <!--<section class="hero-wrap section shadow-md">
        <div class="hero-mask opacity-9 bg-primary"></div>
        <div class="hero-bg" style="background-image:url({{ 'assets/images/image-2.jpg'| theme }});"></div>
        <div class="hero-content py-5">
            <div class="container text-center">
                <h2 class="text-9 text-white">Awesome Customer Support</h2>
                <p class="text-4 text-white mb-4">Have you any query? Don't worry. We have great people ready to
                    help you whenever you need it.</p>
                <a href="#" class="btn btn-light">Find out more</a>
            </div>
        </div>
    </section>-->
    <!-- Customer Support end -->

    <!-- Mobile App ============================================= -->
    <!--<section class="section py-5">
        <div class="container">
            <div class="justify-content-center text-center">
                <h2 class="text-9">Get the app</h2>
                <p class="text-4 mb-4">Download our app for the fastest, most convenient way to send & get
                    Payment.</p>
                <a class="d-inline-flex mx-3" href=""><img alt="" width="168" height="49"
                        src="{{ 'assets/images/app-store.png'| theme }}"></a> <a class="d-inline-flex mx-3"
                    href=""><img alt="" width="166" height="49"
                        src="{{ 'assets/images/google-play-store.png'| theme }}"></a>
            </div>
        </div>
    </section>-->
    <!-- Mobile App end -->

</div>
{% component 'googleTracker' %}

<!-- Content end -->