title = "Inscription"
url = "inscription/"
layout = "default"
[account]
==

<!-- Content ============================================= -->
<div id="content">
    <div class="login-signup-page mx-auto my-5">
        <h3 class="font-weight-400 text-center">S'inscrire</h3>
        <p class="lead text-center">Vos informations d'inscription sont en sécurité avec nous.</p>
        <div class="bg-light shadow-md rounded p-4 mx-2">
            <form id="signupForm" method="post" data-request-flash data-request="onRegister">
                <input type="text" name="code_parrainage" value="{{ code_parrainage }}" hidden>
                {% if code_parrainage %}
                    <div class="form-group">
                        <label for="fullName">Code parrainage</label>
                        <input type="text" class="form-control" id="fullName" required
                            placeholder="Entrez votre code de parrainage" name="code_parrainage" value="{{ code_parrainage }}" 
                            {% if code_parrainage %} disabled {% endif %}>
                    </div>
                {% endif %}
                <div class="form-group">
                    <label for="fullName">Pseudo</label>
                    <input type="text" class="form-control" id="fullName" required
                        placeholder="Entrez votre nom" name="username">
                </div>
                <div class="form-group">
                    <label for="full">Nom</label>
                    <input type="text" class="form-control" id="fullName" required
                        placeholder="Entrez votre nom" name="name">
                </div>
                <div class="form-group">
                    <label for="fullName">Prénom</label>
                    <input type="text" class="form-control" id="fullName" required
                        placeholder="Entrez vos prénoms" name="surname">
                </div>
                <div class="form-group">
                    <label for="emailAddress">Email</label>
                    <input type="email" class="form-control" id="emailAddress" required
                        placeholder="Entrez votre email" name="email">
                </div>
                <div class="form-group">
                    <label for="loginPassword">Mot de passe</label>
                    <input type="password" class="form-control" id="loginPassword" required
                        placeholder="Entrez votre mot de passe" name="password">
                </div>
                <button class="btn btn-primary btn-block my-4" type="submit">S'inscrire</button>
            </form>
            <p class="text-3 text-muted text-center mb-0">Avez vous déja un compte ? <a class="btn-link"
                    href="{{ url('connexion') }}">Se connecter</a></p>
        </div>
    </div>
    <!-- Content end -->

    <!-- Footer
============================================= -->
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg d-lg-flex align-items-center">
                    <ul class="nav justify-content-center justify-content-lg-start text-3">
                        <li class="nav-item"> <a class="nav-link active" href="#">About Us</a></li>
                        <li class="nav-item"> <a class="nav-link" href="#">Support</a></li>
                        <li class="nav-item"> <a class="nav-link" href="#">Help</a></li>
                        <li class="nav-item"> <a class="nav-link" href="#">Careers</a></li>
                        <li class="nav-item"> <a class="nav-link" href="#">Affiliate</a></li>
                        <li class="nav-item"> <a class="nav-link" href="#">Fees</a></li>
                    </ul>
                </div>
                <div class="col-lg d-lg-flex justify-content-lg-end mt-3 mt-lg-0">
                    <ul class="social-icons justify-content-center">
                        <li class="social-icons-facebook"><a data-toggle="tooltip"
                                href="http://www.facebook.com/" target="_blank" title="Facebook"><i
                                    class="fab fa-facebook-f"></i></a></li>
                        <li class="social-icons-twitter"><a data-toggle="tooltip" href="http://www.twitter.com/"
                                target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                        <li class="social-icons-google"><a data-toggle="tooltip" href="http://www.google.com/"
                                target="_blank" title="Google"><i class="fab fa-google"></i></a></li>
                        <li class="social-icons-youtube"><a data-toggle="tooltip" href="http://www.youtube.com/"
                                target="_blank" title="Youtube"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-copyright pt-3 pt-lg-2 mt-2">
                <div class="row">
                    <div class="col-lg">
                        <p class="text-center text-lg-left mb-2 mb-lg-0">Copyright &copy; 2019 <a
                                href="#">Payyed</a>. All Rights Reserved.</p>
                    </div>
                    <div class="col-lg d-lg-flex align-items-center justify-content-lg-end">
                        <ul class="nav justify-content-center">
                            <li class="nav-item"> <a class="nav-link active" href="#">Security</a></li>
                            <li class="nav-item"> <a class="nav-link" href="#">Terms</a></li>
                            <li class="nav-item"> <a class="nav-link" href="#">Privacy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer end -->
</div>
<!-- Document Wrapper end -->