title = "Rechargements"
url = "rechargements/"
layout = "default"
==
  <!-- Page Header
  ============================================= -->
  <section class="page-header page-header-text-light py-0 mb-0">
	<section class="hero-wrap section">
    <div class="hero-mask opacity-7 bg-dark"></div>
    <div class="hero-bg hero-bg-scroll" style="background-image:url({{ 'assets/images/image-2.jpg'| theme}});"></div>
    <div class="hero-content"  style="height: 150px;">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h1 class="text-11 font-weight-500 text-white mb-4">Rechargements</h1>
            <!--<p class="text-5 text-white line-height-4 mb-4">Our mission is to help you save on transfer fees and exchange rates!</p>
            <a href="#" class="btn btn-primary m-2">Open a Free Account</a> <a class="btn btn-outline-light video-btn m-2" href="#" data-src="https://www.youtube.com/embed/7e90gBu4pas" data-toggle="modal" data-target="#videoModal"><span class="mr-2"><i class="fas fa-play-circle"></i></span>See How it Works</a> </div>-->
        </div>
      </div>
    </div>
  </section>
    </section>
  <!-- Page Header end --> 


  <!-- Content
  ============================================= -->
  <div id="content">
    
    <!-- Who we are
    ============================================= -->
    <section class="section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 d-flex">
            <div class="my-auto px-0 px-lg-5 mx-2">
              <h2 class="text-9">Rechargements</h2>
              <p class="text-4">
                Quidam lisque persius interesset his et, in quot quidam persequeris vim, ad mea essent possim iriure.
                 Lisque persius interesset his et, in quot quidam persequeris vim, ad mea essent possim iriure. 
                 lisque persius interesset his et, in quot quidam mea essent possim iriure.
                 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque nobis maiores pariatur voluptatem 
                 distinctio nemo modi itaque rem cupiditate accusamus omnis quos laboriosam fugit, sed libero possimus
                  deserunt sunt ex!
              </p>
              <p class="text-4">
                  Quidam lisque persius interesset his et, in quot quidam persequeris vim, ad mea essent possim iriure.
                   Lisque persius interesset his et, in quot quidam persequeris vim, ad mea essent possim iriure. 
                   lisque persius interesset his et, in quot quidam mea essent possim iriure.
                   Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque nobis maiores pariatur voluptatem 
                   distinctio nemo modi itaque rem cupiditate accusamus omnis quos laboriosam fugit, sed libero possimus
                    deserunt sunt ex!
                </p>
            </div>
          </div>
          <!--<div class="col-lg-6 my-auto text-center"> <img class="img-fluid shadow-lg rounded-lg" src="{{ 'assets/images/who-we-are.jpg' | theme }}" alt=""> </div>-->
        </div>
      </div>
    </section>
    <!-- Who we are end -->
    
    <!-- Our Values
    ============================================= -->
    <!--<section class="section bg-white">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-lg-6 order-2 order-lg-1">
            <div class="row">
              <div class="col-6 col-lg-7 ml-auto mb-lg-n5"> <img class="img-fluid rounded-lg shadow-lg" src="{{ 'assets/images/our-values-vision.jpg' | theme }}" alt="banner"> </div>
              <div class="col-6 col-lg-8 mt-lg-n5"> <img class="img-fluid rounded-lg shadow-lg" src="{{ 'assets/images/our-values-mission.jpg'|theme }}" alt="banner"> </div>
            </div>
          </div>
          <div class="col-lg-6 d-flex order-1 order-lg-2">
            <div class="my-auto px-0 px-lg-5">
              <h2 class="text-9 mb-4">Our Values</h2>
              <h4 class="text-4 font-weight-500">Our Mission</h4>
              <p class="tex-3" >Quidam lisque persius interesset his et, in quot quidam persequeris vim, ad mea essent possim iriure. Lisque persius interesset his et, in quot quidam persequeris vim, ad mea essent possim iriure. lisque persius interesset his et, in quot quidam mea essent possim iriure.</p>
              <h4 class="text-4 font-weight-500 mb-2">Our Vision</h4>
              <p class="tex-3" >Persequeris quidam lisque persius interesset his et, in quot quidam vim, ad mea essent possim iriure. Lisque persius interesset his et, in quot quidam persequeris vim, ad mea essent possim iriure. lisque persius interesset his et, in quot quidam.</p>
              <h4 class="text-4 font-weight-500 mb-2">Our Goal</h4>
              <p class="tex-3" >Lisque persius interesset his et, in quot quidam persequeris vim, ad mea essent possim iriure. Lisque persius interesset his et, in quot quidam persequeris vim, ad mea essent possim iriure. lisque persius interesset his et, in quot quidam mea essent possim iriure.</p>
            </div>
          </div>
        </div>
      </div>
    </section>-->
    <!-- Our Values end -->
    
  </div>
  <!-- Content end --> 