<form class="row" data-request="onSubscription"
    data-request-success="alert('{{ text_messages }}');$('#subscriptionForm').trigger('reset');" id="subscriptionForm">
<div class="offset-md-4 col-md-4">
    <p class="text-4 text-center mb-5" style="margin-bottom: 0px !important;">
        Abonnez-vous à notre newsletter pour obtenir des nouvelles importantes
    </p>
</div>
{% if category_count == 0 %}
<input type="hidden" name="category" value="0">
{% else %}
<div class="form-group">
    <label>{{ text_category }}</label>
    {% for category in category_list %}
    <div class="checkbox">
        <label>
            <input type="checkbox" name="category[]" value="{{ category.id }}"> {{ category.name }}
        </label>
    </div>
    {% endfor %}
</div>
{% endif %}

<div class="offset-md-4 col-md-4 input-group mb-3">
    <div class="input-group-prepend" style="height: 51px; margin-top: 24px;">
        <span class="input-group-text" id="basic-addon1"><i class="fas fa-envelope"></i></span>
    </div>
    <input type="email" name="email" class="form-control" placeholder="Email" aria-label="Username" aria-describedby="basic-addon1"
        id="subscribersEmail" style="height: 51px; margin-top: 24px;">
    <div class="input-group-append">
        <button class="btn btn-primary btn-block my-4" type="submit">Souscription</button>
    </div>
</div>
</form>