title = "Retrait"
url = "retrait-confirmation/"
layout = "dashboard"
[RetraitArgent]
[session]
==
<!-- Content
  ============================================= -->
<div id="content" class="py-4">
    <div class="container">
        <h2 class="font-weight-400 text-center mt-3 mb-4">Retrait d'argent</h2>
        <div class="row">
            <div class="col-md-8 col-lg-6 col-xl-5 mx-auto">
                <!-- Withdraw Money Confirm
  ============================================= -->
                <div class="bg-light shadow-sm rounded p-3 p-sm-4 mb-4">
                    <p class="text-4 text-center alert alert-info">Vous êtes sur le point de faire une demande de
                        retrait<br>
                        <!--to<br>
                        <span class="font-weight-500">HDFC Bank - XXXXXXXXXXXX-9025</span>-->
                    </p>
                    <!--<p class="mb-2 mt-4">Amount to Withdraw <span class="text-3 float-right">1,000.00 USD</span>
                    </p>
                    <p class="text-muted">Transactions fees <span class="float-right d-flex align-items-center">5.00
                            USD</span></p>
                    <hr>-->
                    <p class="font-weight-500">Montant<span class="text-3 float-right">{{ montant }} FCFA</span></p>
                    <p class="font-weight-500">Tépléhone<span class="text-3 float-right">{{ telephone }}</span></p>
                    <p class="font-weight-500">Mode de paiement <span class="text-3 float-right">{{ mode_paiement.libelle }}</span></p>
                    <p>Les frais ne sont pas au compte de l’administrateur.</p>
                    <form id="form-withdraw-money-confirm" method="post" data-request-flash data-request="onRetraitArgent">
                        <button class="btn btn-primary btn-block">Confirmer le retrait</button>
                        <input type="text" name="montant" value="{{ montant }}" hidden>
                        <input type="text" name="mode_paiement" value="{{ mode_paiement.id }}" hidden>
                        <input type="text" name="telephone" value="{{ telephone }}" hidden>
                        <!--<a class="btn btn-primary btn-block" href="{{ url('retrait-success') }}">Confirmer le retrait</a>-->
                    </form>
                </div>
                <!-- Withdraw Money Confirm end -->
            </div>
        </div>
    </div>
</div>
<!-- Content end -->