description = "Dashboard layout"
[session]
==
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
    <link href="images/favicon.png" rel="icon" />
    <title>H&BLESSING-CARE</title>
    <meta name="description"
        content="This professional design html template is for build a Money Transfer and online payments website.">
    <meta name="author" content="harnishdesign.net">

    <!-- Web Fonts
============================================= -->
    <link rel='stylesheet'
        href='https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i'
        type='text/css'>

    <!-- Stylesheet
============================================= -->
    <link rel="stylesheet" type="text/css" href="{{ 'assets/vendor/bootstrap/css/bootstrap.min.css'|theme }}" />
    <link rel="stylesheet" type="text/css" href="{{ 'assets/vendor/font-awesome/css/all.min.css'|theme }}" />
    <link rel="stylesheet" type="text/css" href="{{ 'assets/css/select2.css'|theme }}" />
    <link rel="stylesheet" type="text/css"
        href="{{ 'assets/vendor/owl.carousel/assets/owl.carousel.min.css'|theme }}" />
    <link rel="stylesheet" type="text/css" href="{{ 'assets/css/stylesheet.css'|theme }}" />
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    {% styles %}

    <style>
        .pb-4, .py-4{
            padding-bottom: 2px !important;
        }

        .pagination{
            padding-top: 14px;
        }

        a:hover, a:focus{
            text-decoration: none !important;
        }

        .active h5{
            color:#fff !important;
        }
    </style>
</head>

<body>

    <!-- Preloader -->
    <div id="preloader">
        <div data-loader="dual-ring"></div>
    </div>
    <!-- Preloader End -->

    <!-- Document Wrapper============================================= -->
    <div id="main-wrapper">

        <!-- Header -->
        <header id="layout-header">
            {% partial 'site/header-dashboard' %}
        </header>

        <!-- Content -->
        {% page %}

        <!-- Footer -->
        <footer id="layout-footer">
            {% partial 'site/footer' %}
        </footer>

    </div>
    <!-- Document Wrapper end -->

    <!-- Back to Top ============================================= -->
    <a id="back-to-top" data-toggle="tooltip" title="Back to Top" href="javascript:void(0)">
        <iclass="fa fa-chevron-up"></i>
    </a>

    <!-- Video Modal ============================================= -->
    <div class="modal fade" id="videoModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content bg-transparent border-0">
                <button type="button" class="close text-white opacity-10 ml-auto mr-n3 font-weight-400"
                    data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="modal-body p-0">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" id="video" allow="autoplay"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Video Modal end -->

    <!-- Script -->
    <script src="{{ 'assets/vendor/jquery/jquery.min.js'|theme }}"></script>
    <script src="{{ 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js'|theme }}"></script>
    <script src="{{ 'assets/vendor/owl.carousel/owl.carousel.min.js'|theme }}"></script>
    <script src="{{ 'assets/js/theme.js'|theme }}"></script>

    <!-- Scripts -->
    <!--<script src="{{ 'assets/vendor/jquery.js'|theme }}"></script>-->
    <script src="{{ 'assets/vendor/bootstrap.js'|theme }}"></script>
    <script src="{{ 'assets/javascript/app.js'|theme }}"></script>
    <script src="{{ 'assets/javascript/select2.js'|theme }}"></script>
    {% framework extras %}
    {% scripts %}
    <script>
        // $("#transaction-detail").modal('toggle');
        $(document).ready(function(){
            $(".detail-modal").click(function(){
                // $("#transaction-detail").modal('toggle');
                // $("#transaction-detail").modal('show');
                // detail-modal
            });
            $('#transaction-detail').on('shown.bs.modal', function (e) {
                // $('#transaction-detail').modal('hide')
                // $(".modal-backdrop").
                // $("#transaction-detail").removeClass("in").addClass("show");
                // $(".modal-backdrop").removeClass("in").addClass("show");
            });

            $('.js-example-basic-single').select2();

            $(".js-example-basic-single").change(function(e){
                $.ajax({
                    url: "{{url('/')}}/api/eden/users/"+$(this).val(),
                    success: function(reponse){
                        $("#namesurname").val(reponse.data.name+' '+reponse.data.surname);
                    }
                })
            });
        });
    </script>
</body>

</html>