description = "Default layout"
[session]
==
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
    <link href="images/favicon.png" rel="icon" />
    <title>H&BLESSING-CARE - {{ this.page.title }}</title>
    <meta name="description"
        content="This professional design html template is for build a Money Transfer and online payments website.">
    <meta name="author" content="harnishdesign.net">

    <!-- Web Fonts
============================================= -->
    <link rel='stylesheet'
        href='https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i'
        type='text/css'>

    <!-- Stylesheet
============================================= -->
    <link rel="stylesheet" type="text/css" href="{{ 'assets/vendor/bootstrap/css/bootstrap.min.css'|theme }}" />
    <link rel="stylesheet" type="text/css" href="{{ 'assets/vendor/font-awesome/css/all.min.css'|theme }}" />
    <link rel="stylesheet" type="text/css"
        href="{{ 'assets/vendor/owl.carousel/assets/owl.carousel.min.css'|theme }}" />
    <link rel="stylesheet" type="text/css" href="{{ 'assets/css/stylesheet.css'|theme }}" />
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    {% styles %}

    <style>
        a:hover, a:focus{
            text-decoration: none !important;
        }
    </style>
</head>

<body>

    <!-- Preloader -->
    <div id="preloader">
        <div data-loader="dual-ring"></div>
    </div>
    <!-- Preloader End -->

    <!-- Document Wrapper============================================= -->
    <div id="main-wrapper">

        <!-- Header -->
        <header id="layout-header">
            {% partial 'site/header' %}
        </header>

        <!-- Content -->
        {% page %}

        <!-- Footer -->
        <footer id="layout-footer">
            {% partial 'site/footer' %}
        </footer>

    </div>
    <!-- Document Wrapper end -->

    <!-- Back to Top ============================================= -->
    <a id="back-to-top" data-toggle="tooltip" title="Back to Top" href="javascript:void(0)">
        <iclass="fa fa-chevron-up"></i>
    </a>

    <!-- Video Modal ============================================= -->
    <div class="modal fade" id="videoModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content bg-transparent border-0">
                <button type="button" class="close text-white opacity-10 ml-auto mr-n3 font-weight-400"
                    data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="modal-body p-0">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" id="video" allow="autoplay"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Video Modal end -->

    <!-- Login form Modal ============================================= -->
    <div class="modal" tabindex="-1" id="showLoginFormModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Connexion</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form method="post" data-request-flash data-request="onSignin">
                    <input type="hidden" name="intended" value="true">
                    <div class="form-group">
                      <label>Email</label>
                      <input type="email" name="login" class="form-control" aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                      <label>Mot de passe</label>
                      <input type="password" name="password" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-primary" style="float: right;">Connexion</button>
                    <p><a href="{{ url('inscription') }}">Voulez vous créez un compte ?</a></p>
                  </form>
            </div>
            <!--<div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>-->
          </div>
        </div>
      </div>
    <!-- Login form Modal  end -->

    <!-- Script -->
    <script src="{{ 'assets/vendor/jquery/jquery.min.js'|theme }}"></script>
    <!--<script src="{{ 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js'|theme }}"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{{ 'assets/vendor/owl.carousel/owl.carousel.min.js'|theme }}"></script>
    <script src="{{ 'assets/js/theme.js'|theme }}"></script>

    <!-- Scripts -->
    <!--<script src="{{ 'assets/vendor/jquery.js'|theme }}"></script>-->
    <!--<script src="{{ 'assets/vendor/bootstrap.js'|theme }}"></script>-->
    <script src="{{ 'assets/javascript/app.js'|theme }}"></script>
    {% framework extras %}
    {% scripts %}


    <script>
        $(document).ready(function (e) {
            $("input[name='typeuser']").click(function (e) {
                if (e.target.value == 1) {
                    $("#agence_first_login").css('display', 'block');
                    $("#demarcheur_first_login").css('display', 'none');
                } else {
                    $("#agence_first_login").css('display', 'none');
                    $("#demarcheur_first_login").css('display', 'block');
                }
            });
    
            // afficher les informations (mail, tel) du demarcheur ou de l'agence
            let contact = 0;
            $("a[href='#contactPhone'").click(function () {
                $(".text-area").css('display', 'block');
                $("#contactPhone").css('display', 'flex');
                contact += 1;
                displayTextArea(2);
            });
            $(".contactForm").click(function () {
                $(".text-area").css('display', 'block');
                $("#contactForm").css('display', 'flex');
                contact += 1;
                displayTextArea(1);
            });
    
            let displayTextArea = function (form) {
                if (contact > 1) {
                    $(".text-area").removeClass('warning-small').addClass('warning-large');
                } else {
                    if (form == 2) {
                        $("#contactPhone").css('float', 'left');
                    }
                    $(".text-area").addClass('warning-small');
                }
            }

            $("#commandeProduitModal").modal('toggle');
        });
    </script>
<!-- disposition maison -->

<script>
    // $("#collapse-navbar").css({'display' :'none !important'});
    // $("#collapse-navbar .navbar-nav").css('display', 'none');

    $("#btnResponsive").click(function (e) {
        if ($("#layout-header").hasClass("responsive")) {
            $("#layout-header").removeClass("responsive");
            // $("#collapse-navbar").removeClass("responsive-collapse");
            $("#collapse-navbar .navbar-nav").css('display', 'none');
        } else {
            $("#layout-header").addClass("responsive");
            // $("#collapse-navbar").addClass("responsive-collapse");
            $("#collapse-navbar .navbar-nav").css('display', 'block');
        }
    });
</script>


<script>
    $(document).ready(function (e) {
        $("input[name='typeuser']").click(function (e) {
            if (e.target.value == 1) {
                $("#agence_first_login").css('display', 'block');
                $("#demarcheur_first_login").css('display', 'none');
            } else {
                $("#agence_first_login").css('display', 'none');
                $("#demarcheur_first_login").css('display', 'block');
            }
        });

        // afficher les informations (mail, tel) du demarcheur ou de l'agence
        let contact = 0;
        $("a[href='#contactPhone'").click(function () {
            $(".text-area").css('display', 'block');
            $("#contactPhone").css('display', 'flex');
            contact += 1;
            displayTextArea(2);
        });
        $(".contactForm").click(function () {
            $(".text-area").css('display', 'block');
            $("#contactForm").css('display', 'flex');
            contact += 1;
            displayTextArea(1);
        });

        let displayTextArea = function (form) {
            if (contact > 1) {
                $(".text-area").removeClass('warning-small').addClass('warning-large');
            } else {
                if (form == 2) {
                    $("#contactPhone").css('float', 'left');
                }
                $(".text-area").addClass('warning-small');
            }
        }

        // chargement des images
        $(".imageminia").click(function (e) {
            e.preventDefault();
            // alert("chargement d'image");
            // console.log(e.target.attr('imgptf'));
            let indeximg = $(this).data('imgptf');
            // console.log($(this).data('imgptf'));
            // console.log($(".imggf-"+indeximg).attr('src'));
            // $(".slide.active img").attr('src', $(".imggf-"+indeximg).attr('src'));
            // console.log();
            $(".slide.active").removeClass("active").css("opacity", 0);
            $(".imggf-" + indeximg).parent().addClass("active").css("opacity", '');
            $(".img-miniature li.active").removeClass("active");
            $(this).parent().addClass('active');
        });




    });
</script>
</body>

</html>