title = "Retrait"
url = "pay-produit-success/:id_produit"
layout = "dashboard"
==
<!-- Content
  ============================================= -->
  <div id="content" class="py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-6 col-xl-5 mx-auto">
                <!-- Withdraw Money Success ============================================= -->
                <div class="bg-light shadow-sm rounded p-3 p-sm-4 mb-4">
                    <div class="text-center my-5">
                        <p class="text-center text-success text-20 line-height-07"><i
                                class="fas fa-check-circle"></i></p>
                        <p class="text-center text-success text-8 line-height-07">Succès!</p>
                        <p class="text-center text-4">Votre commande a été enregistré avec succès</p>
                    </div>
                    <!--<p class="text-center text-3 mb-4">You've successfully <span
                            class="text-4 font-weight-500">$995</span> Withdraw Money, See transaction details
                        under <a href="{{ url('activities') }}">Activity</a>.</p>-->
                    <a class="btn btn-primary btn-block" href="{{ url('produits') }}">Passer une autre commande</a>
                </div>
                <!-- Withdraw Money Success end -->
            </div>
        </div>
    </div>
</div>
<!-- Content end -->