title = "Produits"
url = "pay-produit-confirmation/:id_produit"
layout = "default"
[DetailProduit]
==
<div id="content" class="py-4">
    <div class="container">
        <h2 class="font-weight-400 text-center mt-3 mb-4">Confirmation de commande</h2>
        <div class="row">
            <div class="col-md-8 col-lg-6 col-xl-5 mx-auto">
                <!-- Withdraw Money Form ============================================= -->
                <div class="bg-light shadow-sm rounded p-3 p-sm-4 mb-4" >
                    <div class="text-center bg-primary p-4 rounded mb-4" style="background-color: #fff !important;">
                        <img src="{{ record.cover.getPath }}" alt="">
                    </div>
                    <form data-request-flash data-request="onPayConfirmProduit" method="post">
                        <p class="text-4 text-center alert alert-info">Vous êtes sur le point de faire une commande de ce produit<br></p>
                        <input type="text" name="idProduit" value="{{ record.id }}" hidden>
                        <input type="text" name="reference" value="{{ reference }}" hidden>
                        <p class="font-weight-500">Libellé<span class="text-3 float-right">{{ record.nom }}</span></p>
                        <p class="font-weight-500">Montant<span class="text-3 float-right">{{ record.prix }} FCFA</span></p>
                        <p class="font-weight-500">Référence<span class="text-3 float-right">{{ reference }}</span></p>
                        <div id="form-withdraw-money-confirm" >
                            <button type="submit" class="btn btn-primary btn-block">Confirmer la commande</a>
                        </div>
                    </form>
                </div>
                <!-- Withdraw Money Confirm end -->
            </div>
        </div>
    </div>
</div>
<!-- Content end -->