
         <style>
    
    .form-group.required .control-label:after {
  content:"*";
  color:red;
}

    fieldset 
	{
		border: 1px solid #ddd !important;
		margin: 0;
		xmin-width: 0;
		padding: 10px;       
		position: relative;
		border-radius:4px;
		background-color:#f5f5f5;
		padding-left:10px!important;
	}	
	
		legend
		{
			font-size:14px;
			font-weight:bold;
			margin-bottom: 0px; 
			width: 35%; 
			border: 1px solid #ddd;
			border-radius: 4px; 
			padding: 5px 5px 5px 10px; 
			background-color: #ffffff;
		}
</style>
<div class="container">
    <h1>
        <i class="icon-refresh text-success menu-icon"></i>
        <span class="menu-title text-success">Formulaire Produits</span>
    </h1>
        <fieldset class="col-md-12">
            <legend>Produits</legend>
                <form class="form-elements" data-request="onCreate"  data-request-files data-request-flash  accept-charset="UTF8" enctype="multipart/form-data">
                  
                    <div class="row" >    
							<div class="col-md-4">
								<div class="form-group required">
									<label class="control-label" for="registerName">Nom</label >
									<input name="nom" type="text" class="form-control" id="nom"   placeholder="Entrer nom">
								</div>
							</div>   
							<div class="col-md-4">
								<div class="form-group required">
									<label class="control-label" for="registerName">Prix</label >
									<input name="prix" type="number" class="form-control" id="prix"   placeholder="Entrer prix">
								</div>
							</div>   
							<div class="col-md-4">
								<div class="form-group required">
									<label class="control-label" for="registerName">Type</label >
									<select name="type_id" id="type_id" class="form-control"  placeholder="Entrer type_id">
										 <option disabled selected value> -- Veuillez Sélectionnez  -- </option>
									    {% for valeur in type_ids %}
											<option value="{{valeur.id}} ">{{valeur.libelle}}</option>
									    {% endfor %}
									</select>
								</div>
							</div>   
							<div class="col-md-4">
								<div class="form-group required">
									<label class="control-label" for="registerName">Description</label >
									<input name="description" type="text" class="form-control" id="description"   placeholder="Entrer description">
								</div>
							</div>   
							<div class="col-md-4">
								<div class="form-group required">
									<label class="control-label" for="registerName">Bonus_personnel</label >
									<input name="bonus_personnel" type="number" class="form-control" id="bonus_personnel"   placeholder="Entrer bonus_personnel">
								</div>
							</div>   
							<div class="col-md-4">
								<div class="form-group required">
									<label class="control-label" for="registerName">Bonus_direct</label >
									<input name="bonus_direct" type="number" class="form-control" id="bonus_direct"   placeholder="Entrer bonus_direct">
								</div>
							</div>   
							<div class="col-md-4">
								<div class="form-group required">
									<label class="control-label" for="registerName">Bonus_second</label >
									<input name="bonus_second" type="number" class="form-control" id="bonus_second"   placeholder="Entrer bonus_second">
								</div>
							</div>   
							<div class="col-md-4">
								<div class="form-group required">
									<label class="control-label" for="registerName">Devisebonus</label >
									<select name="devisebonus_id" id="devisebonus_id" class="form-control"  placeholder="Entrer devisebonus_id">
										 <option disabled selected value> -- Veuillez Sélectionnez  -- </option>
									    {% for valeur in devisebonus_ids %}
											<option value="{{valeur.id}} ">{{valeur.symbole}}</option>
									    {% endfor %}
									</select>
								</div>
							</div>   </div>
                        <div class="row" >
                            <div class="col-md-3">
                                <a href="#" class="btn btn-danger btn-block">Annuler</a>
                            </div>
                            <div class="col-md-3 ">
                                <button type="submit" class="btn btn-success btn-block" data-attach-loading>Enregistrer</button>
                            </div>
                        </div>
             
                    
               </form>
        </fieldset>
	  </div>

		

		