<div data-control="toolbar">

    <?php if ($this->user->hasAccess('eden.gestion.achatproduits.creer')):?>
             <!--<a
            href="#"
                data-control="popup"
                data-handler="onCreateForm"
                class="btn btn-primary oc-icon-plus">Nouveau
            </a>-->

            <a href="<?= Backend::url('eden/gestion/achatproduits/create') ?>" class="btn btn-primary oc-icon-plus"><?= e(trans('backend::lang.form.create')) ?></a>

    <?php endif ?>
        
    <?php if ($this->user->hasAccess('eden.gestion.achatproduits.exporter')):?>
        
        <!--<a href="<?= Backend::url('eden/gestion/achatproduits/export') ?>" class="btn btn-default oc-icon-list">Exporter</a>-->
     
    <?php endif ?>

    
    <button
    class="btn btn-default"
    disabled="disabled"
    onclick="$(this).data('request-data', {
            checked: $('.control-list').listWidget('getChecked')
    })"

    data-request="onValidated"

    data-request-confirm="Voulez vous valider la transaction ?"
    data-trigger-action="enable"

    data-trigger=".control-list input[type=checkbox]"
    data-trigger-condition="checked"
    data-request-success="$(this).prop('disabled', true)"
    data-stripe-load-indicator>
    Valider
</button>

<button
    class="btn btn-default"
    disabled="disabled"
    onclick="$(this).data('request-data', {
            checked: $('.control-list').listWidget('getChecked')
    })"

    data-request="onCanceled"

    data-request-confirm="Voulez vous annuler la transaction ?"
    data-trigger-action="enable"

    data-trigger=".control-list input[type=checkbox]"
    data-trigger-condition="checked"
    data-request-success="$(this).prop('disabled', true)"
    data-stripe-load-indicator>
    Annuler
</button>

    <!--
        <?php if ($this->user->hasAccess('eden.gestion.achatproduits.supprimer')):?>

            <button
                class="btn btn-default oc-icon-trash-o"
                disabled="disabled"
                onclick="$(this).data('request-data', {
                        checked: $('.control-list').listWidget('getChecked')
                })"

                data-request="onDelete"

                data-request-confirm="<?= e(trans('backend::lang.list.delete_selected_confirm')) ?>"
                data-trigger-action="enable"

                data-trigger=".control-list input[type=checkbox]"
                data-trigger-condition="checked"
                data-request-success="$(this).prop('disabled', true)"
                data-stripe-load-indicator>
                <?= e(trans('backend::lang.list.delete_selected')) ?>
            </button>

        <?php endif ?>
    -->
</div>
