[staticPage]
useContent = 1
default = 1
==
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}">

        <link rel="icon" href="{{ 'assets/public/images/favicon.ico'|theme }}">
        <link rel="stylesheet" href="{{ 'assets/public/css/app.css'|theme }}">
        {% styles %}

        <title>{{ this.page.title }} - {{ this.theme.app_name }}</title>
    </head>
    <body class="app layout-{{ this.layout.id }} page-{{ this.page.id }}">

        <div class="app-container">

            <header id="app-header" class="app-header">
                {% partial 'app/header' %}
            </header>

            <main id="app-content" class="app-content" role="main">
                {% component 'staticPage' %}
            </main>
            
            <footer id="app-footer" class="app-footer">
                {% partial 'app/footer' %}
            </footer>

        </div>

        <script type="text/javascript" src="{{ 'assets/public/js/manifest.js'|theme }}"></script>
        <script type="text/javascript" src="{{ 'assets/public/js/vendor.js'|theme }}"></script>
        <script type="text/javascript" src="{{ 'assets/public/js/app.js'|theme }}"></script>

        {% scripts %}
    </body>

</html>