title = "Retrait"
url = "transfert-request/"
layout = "dashboard"
[TransfertArgent]
[session]
==

<style>
    .select2-selection.select2-selection--single{
        height: 48px;
        padding-top: 10px;
        padding-left: 4px;
        font-size: 16px;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow{
        top: 12px;
    }
</style>
<!-- Content
  ============================================= -->
  <div id="content" class="py-4">
    <div class="container">
        <h2 class="font-weight-400 text-center mt-3 mb-4">Transfert d'argent</h2>
        <div class="row">
            {% if user.validated_souscription_admin_at %}
                <div class="col-md-8 col-lg-6 col-xl-5 mx-auto">
                    <!-- Withdraw Money Form ============================================= -->
                    <div class="bg-light shadow-sm rounded p-3 p-sm-4 mb-4">
                        <form  method="get" id="form-withdraw-money-confirm" data-request-flash data-request="onRequestTransfertArgent">
                            <div class="form-group">
                                <label for="youSend">Code Adhérant</label>
                                <div class="input-group">
                                    <select name="code_parrainage" required id="" class="form-control js-example-basic-single">
                                        <option value="">Sélectionner un adhérant </option>
                                        {% for adherant in adherants %}
                                            <option value="{{ adherant.code_parrainage }}">{{ adherant.code_parrainage }} </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="youSend">Nom et prénom adhérant</label>
                                <div class="input-group">
                                    <input type="text" name="namesurname" class="form-control" data-bv-field="youSend" id="namesurname" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="youSend">Montant</label>
                                <div class="input-group">
                                    <div class="input-group-prepend"> <span class="input-group-text">FCFA</span> </div>
                                    <input type="number" name="montant" class="form-control" data-bv-field="youSend" id="youSend" required>
                                </div>
                            </div>
                            <button class="btn btn-primary btn-block" type="submit">Continuer</button>
                        </form>
                    </div>
                    <!-- Withdraw Money Form end -->
                </div>
            {% else %}
                <div class="col-md-8 col-lg-6 col-xl-5 mx-auto erreur-commande">
                {{ errorMessageNoValidate|raw }}
                </div>
            {% endif%}
        </div>
    </div>
</div>
<!-- Content end -->