description = "App Footer"

[viewBag]
==
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="copyright text-center">
                <small class="text-muted">&copy; {{ "now"|date("Y") }} {{ this.theme.app_name }}. Kõik õigused kaitstud</small>
            </div>
        </div>
    </div>
</div>