title = "Détail Produits"
url = "produits/:id_produit"
id = "detail-produit"
layout = "default"
[DetailProduit]
[account]
==

<style>
    .slide {
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        right: 0;
        min-height: 420px;
        text-align: center;
        white-space: nowrap;
        line-height: 415px;
    }

    .slideset {
        position: relative;
        background: #ebebeb;
        border: 1px solid #dddddd;
    }

    .slideshow {
        position: relative;
        margin: 0 0 20px;
    }

    .responsive {
        height: 160px;
    }

    .slide img {
        margin: auto;
        display: inline;
        vertical-align: middle;
        line-height: normal;
    }

    .slide img {
        width: 43%;
    }

    .specification span{
        /*font-weight: 500;*/
        font-size: 16px;
    }

    li{
        list-style-type: none;
    }
</style>


<div class="container">
    <div class="card" style="margin-top: 5%;">
        <!--<div class="card-header">
            <h3>{{ record.nom }}</h3>
        </div>-->
        <div class="row card-body">


            <div class="col-md-6">
                <!-- slideshow -->
                <div class="slideshow gallery-js-ready autorotation-disabled">
                    <div class="mask">
                        <div class="slideset" style="height: 420px;">

                            {% for key,image in record.images %}
                            {% if key == 0 %}
                            <div class="slide active" style="display: block;"><img itemprop="image" class="imggf-1"
                                    src="{{ record.images[0].getPath }}"
                                    alt="Belle Apparemment À Vendre  - Côte d’Ivoire"></div>
                            {% else %}
                            <div class="slide" style="display: block; opacity: 0;">
                                <img itemprop="image" class="imggf-{{ key+1 }}" src="{{ image.getPath }}"
                                    alt="Belle Apparemment À Vendre  - Côte d’Ivoire"></div>
                            {% endif %}
                            {% endfor %}
                        </div>
                        <span class="loader" style="display: none;"></span>
                    </div>
                    <ul class="pagination img-miniature">

                        {% for key,image in record.images %}
                        {% if key == 0 %}
                        <li class="active">
                            <a href="javascript:void(0)" class="imageminia" data-imgptf="1"><img
                                    style="width: 100px;height: 66px;" src="{{ image.getPath | resize(100,100)}}"
                                    alt="{{ record.libelle }}">
                            </a>
                        </li>
                        {% else %}
                        <li><a href="javascript:void(0)" class="imageminia" data-imgptf="{{ key +1}}"><img
                                    style="width: 100px;height: 66px;" src="{{ image.getPath| resize(100,100) }}"
                                    alt="{{ record.libelle }}"></a></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div style="font-weight: bold;
                font-size: 22px;padding-bottom: 20px;">{{ record.nom }}</div>
                <ul style="padding-left: 0px;">
                    <!--<li class="specification"><span>Type</span> : {{ record.type.libelle }}</li>
                    <li class="specification"><span>Bonus personnel</span> : {{ record.bonus_personnel }} </li>
                    <li class="specification"><span>Bonus direct</span> : {{ record.bonus_direct }} </li>
                    <li class="specification"><span>Bonus second</span> : {{ record.bonus_second  }} </li>
                    <li class="specification"><span>Devise bonus</span> : {{ record.nom  }} </li>-->
                    <li class="specification" style="margin-top: 20px;"><span style="font-size: 1.25rem;">Prix</span> : <span style="font-size: 1.25rem;">{{ record.prix }} FCFA</span></li>
                </ul>

                {% if user %}
                    <a href="{{ url('pay-produit-request') }}/{{ record.id }}" class="btn btn-primary btn-block my-4" type="submit">Je commande</a>
                {% else %}
                    <a  class="btn btn-primary btn-block my-4" data-toggle="modal" data-target="#showLoginFormModal">Je commande</a>
                {% endif %}
            </div>

        </div>
    </div>

    <div class="card" style="margin-top: 5%;margin-bottom: 5%;">
        <div class="card-body">
            <div><span style="font-weight: 500;font-size: 16px;">Description</span></div>
            <p>{{ record.description|raw }}</p>
        </div>
    </div>
</div>