title = "Produits"
url = "pay-produit-request/:id_produit"
layout = "default"
[DetailProduit]
==

<!-- Content ============================================= -->
<div id="content" class="py-4">
    <div class="container">
        <h2 class="font-weight-400 text-center mt-3 mb-4">Commande du produit</h2>
        <div class="row">

            {% if user.validated_souscription_admin_at %}
                <div class="col-md-8 col-lg-6 col-xl-5 mx-auto">
                    <!-- Withdraw Money Form ============================================= -->
                    <div class="bg-light shadow-sm rounded p-3 p-sm-4 mb-4">
                        <div class="text-center bg-primary p-4 rounded mb-4" style="background-color: #fff !important;">
                            
                            <img src="{{ record.cover.getPath }}" style="width:100%" alt="">
                        </div>
                        <form id="form-send-money" method="post" data-request-flash data-request="onRequestProduit">
                            <div class="form-group">
                                <label for="youSend">Libellé</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bv-field="youSend" id="youSend"
                                        value="{{ record.nom }}" placeholder="" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="youSend">Montant</label>
                                <div class="input-group">
                                    <div class="input-group-prepend"> <span class="input-group-text">$</span> </div>
                                    <input type="text" class="form-control" data-bv-field="youSend" id="youSend"
                                        value="{{ record.prix }}" placeholder="" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="youSend">Référence de la transaction</label>
                                <div class="input-group">
                                    <input name="reference" type="text" class="form-control" data-bv-field="youSend" id="youSend">
                                </div>
                            </div>
                            <div class="form-group">
                                <p style="font-size: 14px;text-align: center;">Pour plus d'informations, veuillez contactez l'administrateur au </br> (+225) 47446373</p>
                            </div>
                            <button type="submit" href="{{ url('pay-produit-confirmation') }}/{{ record.id }}"
                                class="btn btn-primary btn-block">Continuer</button>
                        </form>
                    </div>
                    <!-- Withdraw Money Form end -->
                </div>
            {% else %}
                <div class="col-md-8 col-lg-6 col-xl-5 mx-auto erreur-commande">
                {{ errorMessageNoValidate|raw }}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<!-- Content end -->