title = "Home"
url = "/"
layout = "mainLayout"
is_hidden = 0
==
<div class="the-intro d-flex align-items-center my-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center pr-md-5">
                <img class="img-fluid mb-5" src="https://getbootstrap.com/docs/4.1/assets/img/bootstrap-stack.png" alt="" width="270" height="227">
                <h1 class="display-4">Bootstrap Starter Kit</h1>
                <small class="lead font-weight-normal">
                    Build responsive, mobile-first projects on the web with the world's most popular front-end component library.
                </small>
                <a href="https://getbootstrap.com/docs/4.1/getting-started/introduction/" target="_blank" class="btn btn-outline-primary my-5 px-5" style="border-radius:38px">Get started</a>
            </div>
        </div>
    </div>
</div>