title = "Error page (500)"
url = "/error"
layout = "mainLayout"
is_hidden = 0
==
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Error</h1>
        <p class="lead">We're sorry, but something went wrong and the page cannot be displayed.</p>
    </div>
</div>