<?php if ($this->user->hasAccess('eden.configuration.statustransactions.modifier')): ?>

    <?= Form::open(['id' => 'updateForm']) ?>

        <input type="hidden" name="record_id" value="<?= $recordId ?>" />

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="popup">&times;</button>
            <h4 class="modal-title">Mise à jour</h4>
        </div>

        <?php if (!$this->fatalError): ?>

            <div class="modal-body">
                <?= $this->formRender() ?>
            </div>
            <div class="modal-footer">
                <button
                    type="submit"
                    data-request="onUpdate"
                    data-request-data="redirect:0"
                    data-hotkey="ctrl+s, cmd+s"
                    data-popup-load-indicator
                    class="btn btn-primary">
                    <u>S</u>auvegarder
                </button>

                <button
                    type="button"
                    class="btn btn-default"
                    data-dismiss="popup">
                    <?= e(trans('backend::lang.form.cancel')) ?>
                </button>

                <?php if ($this->user->hasAccess('eden.configuration.statustransactions.supprimer')): ?>
                    <button
                        type="button"
                        class="oc-icon-trash-o btn-icon danger pull-left"
                        data-request="onDelete"
                        data-popup-load-indicator
                        data-request-confirm="Voulez-vous vraiment supprimer cet enregistrement ?">
                    </button>      
                <?php endif ?> 
                
            </div>

        <?php else: ?>

            <div class="modal-body">
                <p class="flash-message static error"><?= e(trans($this->fatalError)) ?></p>
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-default"
                    data-dismiss="popup">
                    <?= e(trans('backend::lang.form.close')) ?>
                </button>
            </div>

        <?php endif ?>

        <script>
            setTimeout(
                function(){ $('#updateForm input.form-control:first').focus() },
                310
            )
        </script>

    <?= Form::close() ?>

<?php endif ?>
