<!-- Footer ============================================= -->
<style>
    #footer .form-control:focus{
        border-color: #e2e2e2 !important;
    }
</style>
<footer id="footer" style="padding-top: 20px;">
    <div class="container">
        
        <!-- newsletter -->
        {% component 'newsSubscribe' %}
        
        <div class="row">
            <div class="col-lg-8 d-lg-flex align-items-center">
                <ul class="nav justify-content-center justify-content-lg-start text-3">
                    <li class="nav-item"> <a class="nav-link active" href="{{ url('/') }}">Accueil</a></li>
                    <li class="nav-item"> <a class="nav-link active" href="{{ url('about') }}">Qui sommes nous ?</a></li>
                    <li class="nav-item"> <a class="nav-link" href="{{ url('plan-affaire') }}">Le plan d'affaire</a></li>
                    <li class="nav-item"> <a class="nav-link" href="{{ url('actualites') }}">Actualités</a></li>
                    <li class="nav-item"> <a class="nav-link" href="{{ url('produits') }}">Produits</a></li>
                    <li class="nav-item"> <a class="nav-link" href="{{ url('contact') }}">Contact</a></li>
                </ul>
            </div>
            <div class="col-lg d-lg-flex justify-content-lg-end mt-3 mt-lg-0">
                <ul class="social-icons justify-content-center">
                    <li class="social-icons-facebook"><a data-toggle="tooltip" href="#"
                            target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="social-icons-twitter"><a data-toggle="tooltip" href="#"
                            target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                    <li class="social-icons-google"><a data-toggle="tooltip" href="#"
                            target="_blank" title="Google"><i class="fab fa-google"></i></a></li>
                    <li class="social-icons-youtube"><a data-toggle="tooltip" href="#"
                            target="_blank" title="Youtube"><i class="fab fa-youtube"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="footer-copyright pt-3 pt-lg-2 mt-2">
            <div class="row">
                <div class="col-lg">
                    <p class="text-center text-lg-left mb-2 mb-lg-0">Tous droits reservés &copy; 2019 <a href="{{ url('/') }}">Hblessingscare</a>.</p>
                </div>
                <!--<div class="col-lg d-lg-flex align-items-center justify-content-lg-end">
                    <ul class="nav justify-content-center">
                        <li class="nav-item"> <a class="nav-link active" href="#">Security</a></li>
                        <li class="nav-item"> <a class="nav-link" href="#">Terms</a></li>
                        <li class="nav-item"> <a class="nav-link" href="#">Privacy</a></li>
                    </ul>
                </div>-->
            </div>
        </div>
    </div>
</footer>
<!-- Footer end -->