<!-- Footer ============================================= -->
<style>
    #footer .form-control:focus{
        border-color: #e2e2e2 !important;
    }
</style>
<footer id="footer" style="padding-top: 20px;">
    <div class="container">
        <!--<div class="row">
            <div class="offset-md-4 col-md-4">
                <p class="text-4 text-center mb-5" style="margin-bottom: 0px !important;"> 
                    Abonnez-vous à notre newsletter pour obtenir des nouvelles importantes
                </p>
            </div>
            <div class="offset-md-4 col-md-4 input-group mb-3">
                <div class="input-group-prepend" style="height: 51px; margin-top: 24px;">
                  <span class="input-group-text" id="basic-addon1"><i class="fas fa-envelope"></i></span>
                </div>
                <input type="email" class="form-control" placeholder="Email" aria-label="Username" aria-describedby="basic-addon1" style="height: 51px; margin-top: 24px;">
                <div class="input-group-append">
                    <button class="btn btn-primary btn-block my-4" type="submit" >Souscription</button>
                  </div>
              </div>
        </div>-->
        <div class="row">
            <div class="col-lg d-lg-flex align-items-center">
                <ul class="nav justify-content-center justify-content-lg-start text-3">
                    <li class="nav-item"> <a class="nav-link active" href="#">About Us</a></li>
                    <li class="nav-item"> <a class="nav-link" href="#">Support</a></li>
                    <li class="nav-item"> <a class="nav-link" href="#">Help</a></li>
                    <li class="nav-item"> <a class="nav-link" href="#">Careers</a></li>
                    <li class="nav-item"> <a class="nav-link" href="#">Affiliate</a></li>
                    <li class="nav-item"> <a class="nav-link" href="#">Fees</a></li>
                </ul>
            </div>
            <div class="col-lg d-lg-flex justify-content-lg-end mt-3 mt-lg-0">
                <ul class="social-icons justify-content-center">
                    <li class="social-icons-facebook"><a data-toggle="tooltip" href="http://www.facebook.com/"
                            target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="social-icons-twitter"><a data-toggle="tooltip" href="http://www.twitter.com/"
                            target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                    <li class="social-icons-google"><a data-toggle="tooltip" href="http://www.google.com/"
                            target="_blank" title="Google"><i class="fab fa-google"></i></a></li>
                    <li class="social-icons-youtube"><a data-toggle="tooltip" href="http://www.youtube.com/"
                            target="_blank" title="Youtube"><i class="fab fa-youtube"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="footer-copyright pt-3 pt-lg-2 mt-2">
            <div class="row">
                <div class="col-lg">
                    <p class="text-center text-lg-left mb-2 mb-lg-0">Copyright &copy; 2019 <a href="#">Payyed</a>. All
                        Rights Reserved.</p>
                </div>
                <div class="col-lg d-lg-flex align-items-center justify-content-lg-end">
                    <ul class="nav justify-content-center">
                        <li class="nav-item"> <a class="nav-link active" href="#">Security</a></li>
                        <li class="nav-item"> <a class="nav-link" href="#">Terms</a></li>
                        <li class="nav-item"> <a class="nav-link" href="#">Privacy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer end -->