<!-- Header ============================================= -->
<header id="header">
    <div class="container">
        <div class="header-row">
            <div class="header-column justify-content-start">
                <!-- Logo ============================= -->
                <div class="logo"> <a class="d-flex" href="{{ url('/') }}" title="Hblessingscare"><img
                            src="{{ 'assets/images/logo-H&BLESSING.png'|theme }}" width="121" alt="Payyed" style="height: 75px;"/></a>
                </div>
                <!-- Logo end -->
                <!-- Collapse Button ============================== -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header-nav">
                    <span></span> <span></span> <span></span> </button><!-- Collapse Button end -->

                <!-- Primary Navigation ============================== -->
                <nav class="primary-menu navbar navbar-expand-lg">
                    <div id="header-nav" class="collapse navbar-collapse">
                        <ul class="navbar-nav mr-auto">
                            <li class="{% if this.page.id=='home' %} active {% endif %}"><a href="{{ url('/') }}">Accueil</a></li>
                            <li class="{% if this.page.id=='about' %} active {% endif %}"><a href="{{ url('about') }}">Qui sommes nous ?</a></li>
                            <li class="{% if this.page.id=='planaffaire' %} active {% endif %}"><a href="{{ url('plan-affaire') }}">Le plan d'affaire </a></li>
                            <li class="{% if this.page.id=='actualite' or this.page.id=='detailactualite' %} active {% endif %}"><a href="{{ url('actualites') }}">Actualités</a></li>
                            <li class="{% if this.page.id=='produits' or this.page.id=='detail-produit' %} active {% endif %}"><a href="{{ url('produits') }}">Produits</a></li>
                            <li class="{% if this.page.id=='contact' %} active {% endif %}"><a href="{{ url('contact') }}">Contact</a></li>
                        </ul>
                    </div>
                </nav>
                <!-- Primary Navigation end -->
            </div>

            <div class="header-column justify-content-end">
                <!-- Login & Signup Link ============================== -->
                <nav class="login-signup navbar navbar-expand">
                    <ul class="navbar-nav">
                        {% if user %}
                                <li><a href="{{ url('dashboard') }}">Mon compte</a> </li>
                                <li class="align-items-center h-auto ml-sm-3"><a class="btn btn-primary d-none d-sm-block" data-request="onLogout" data-request-data="redirect: '/connexion'" style="color: #fff; cursor: pointer">Se déconnecter</a></li>
                        {% else %}
                                <li><a href="{{ url('connexion') }}">Se connecter</a> </li>
                                <li class="align-items-center h-auto ml-sm-3"><a class="btn btn-primary d-none d-sm-block" href="{{ url('inscription') }}">S'inscrire</a></li>
                        {% endif %}
                    </ul>
                </nav>
                <!-- Login & Signup Link end -->
            </div>
        </div>
    </div>
</header>
<!-- Header End -->