<style>
    .show-link .btn-primary{
        color: #fff;
    }
</style>


<!-- Left Panel ============================================= -->
<aside class="col-lg-3">

    <!-- Profile Details =============================== -->
    <!--<div class="bg-light shadow-sm rounded text-center p-3 mb-4">
        <div class="profile-thumb mt-3 mb-4"> <img class="rounded-circle" src="{{ 'assets/images/profile-thumb.jpg'|theme}}"
                alt="">
            <div class="profile-thumb-edit custom-file bg-primary text-white" data-toggle="tooltip"
                title="Change Profile Picture"> <i class="fas fa-camera position-absolute"></i>
                <input type="file" class="custom-file-input" id="customFile">
            </div>
        </div>
        <p class="text-3 font-weight-500 mb-2">Hello, Smith Rhodes</p>
        <p class="mb-2"><a href="{{ url('profile') }}" class="text-5 text-light" data-toggle="tooltip"
                title="Edit Profile"><i class="fas fa-edit"></i></a></p>
    </div>-->
    <!-- Profile Details End -->

    <!-- Available Balance =============================== -->
    <div class="bg-light shadow-sm rounded text-center p-3 mb-4">
        <div class="text-17 text-light my-3"><i class="fas fa-wallet"></i></div>
        <h3 class="text-9 font-weight-400">{{ user.solde }} FCFA</h3>
        <p class="mb-2 text-muted opacity-8">Solde</p>
        <hr class="mx-n3">
        <div class="d-flex">
            <a href="{{ url('retrait-request') }}" class="btn-link mr-auto">Retrait</a>
            <a href="{{ url('transfert-request') }}" class="btn-link ml-auto">Transfert</a></div>
    </div>
    <!-- Available Balance End -->
    <!-- Menu -->
    <div class="bg-light shadow-sm rounded text-center p-3 mb-4" style="padding: 0px !important;">
        <div class="list-group">
            <a href="{{ url('dashboard') }}" class="list-group-item {% if this.page.id=='dashboard' %} active{% endif %}"><h5>Tableau de bord</h5></a>
            <a href="{{ url('filleules') }}" class="list-group-item {% if this.page.id=='filleules' %} active{% endif %}"><h5>Filleules</h5></a>
            <!-- <a type="button" class="list-group-item"><h5>Wallet</h5></a> -->
            <!--<a href="{{ url('bonus') }}" class="list-group-item"><h5>Bonus</h5></a>-->
            <a href="{{ url('commandes') }}" class="list-group-item {% if this.page.id=='commandes' %} active{% endif %}"><h5>Commandes</h5></a>
            <a href="{{ url('transferts') }}" class="list-group-item {% if this.page.id=='transfert' %} active{% endif %}"><h5>Transferts</h5></a>
            <a href="{{ url('retraits') }}" class="list-group-item {% if this.page.id=='retrait' %} active{% endif %}"><h5>Retraits</h5></a>
            <a href="{{ url('bonus') }}" class="list-group-item {% if this.page.id=='bonus' %} active{% endif %}"><h5>Bonus</h5></a>
            <a href="{{ url('transactions') }}" class="list-group-item {% if this.page.id=='transactions' %} active{% endif %}"><h5>Transactions</h5></a>
            <!--<a href="{{ url('activities') }}" class="list-group-item"><h5>Activités</h5></a>-->
            <a type="button" class="list-group-item {% if this.page.id=='profile' %} active{% endif %}" href="{{ url('profile') }}"><h5>Mon profil</h5></a>
          </div>
    </div>
    <!-- Menu -->

    <!-- Need Help? =============================== -->
    <div class="bg-light shadow-sm rounded text-center p-3 mb-4 show-link">
        <!--<div class="text-17 text-light my-3"><i class="fas fa-comments"></i></div>
        <h3 class="text-3 font-weight-400 my-4">Need Help?</h3>
        <p class="text-muted opacity-8 mb-4">Have questions or concerns regrading your account?<br>
            Our experts are here to help!.</p>-->
        <!--<a href="#" class="btn btn-primary btn-block">Chate with Us</a>-->
        <a href="#" class="btn btn-primary btn-block" data-toggle="modal" data-target="#need-link-subscription">Obtenir le lien d'abonnement</a>
    </div>
    <!-- Need Help? End -->

</aside>
<!-- Left Panel End -->


<!-- Transaction Item Details Modal =========================================== -->



<div class="modal fade" id="need-link-subscription" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Lien de parrainage</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="font-size: 16px;">
            Le code de parrainage permet de parrainer des personnes
            <br>
            {{ url('/') }}/inscription?code_parrainage={{ user.code_parrainage }}!{{ user.id }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>


<!-- Transaction Item Details Modal End -->