<!-- Profile Completeness =============================== -->
                <div class="bg-light shadow-sm rounded p-4 mb-4">
                    <div class="row profile-completeness">
                        <div class="col-sm-6 col-md-3 mb-4 mb-sm-0">
                            <div class="border rounded p-3 text-center"> <span
                                    class="d-block text-10 text-light mt-2 mb-3"><i class="fa fa-users"
                                        style="color: #1e6ea2 !important"></i></span>
                                <!-- <span class="text-5 d-block text-light mt-4 mb-3"><i class="far fa-circle "></i></span> -->
                                <p class="mb-0"><a class="btn-link stretched-link" href="{{ url('filleules') }}"
                                        style="color: black !important;">{{ user.nbre_filleules }} filleule(s)</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Profile Completeness End -->