title = "Retrait"
url = "retrait-request/"
layout = "dashboard"
[RetraitArgent]
[session]
==


<!-- Content
  ============================================= -->
  <div id="content" class="py-4">
    <div class="container">
        <h2 class="font-weight-400 text-center mt-3 mb-4">Retrait d'argent</h2>
        <div class="row">
            <div class="col-md-8 col-lg-6 col-xl-5 mx-auto">
                <!-- Withdraw Money Form ============================================= -->
                <div class="bg-light shadow-sm rounded p-3 p-sm-4 mb-4">
                    <form  method="get" id="form-withdraw-money-confirm" data-request-flash data-request="onRequestRetraitArgent">
                        <div class="form-group">
                            <label for="youSend">Montant</label>
                            <div class="input-group">
                                <div class="input-group-prepend"> <span class="input-group-text">FCFA</span> </div>
                                <input type="number" name="montant" class="form-control" data-bv-field="youSend" id="youSend"
                                    value="0" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="youSend">Téléphone</label>
                            <div class="input-group">
                                <input type="number" name="telephone" class="form-control" data-bv-field="youSend" id="youSend" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="youSend">Mode de paiment</label>
                            <select name="mode_paiement" id="" class="form-control">
                                <option value="">Sélectionner un mode de paiement</option>
                                {% for modepaiement in modepaiements %}
                                    <option value="{{ modepaiement.id }}">{{ modepaiement.libelle }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        
                        <!--<p class="text-muted mt-4">Transactions fees <span
                                class="float-right d-flex align-items-center">5.00 USD</span></p>-->
                        <!--<p class="font-weight-500">Amount to Withdraw <span class="text-3 float-right">1,000.00
                                USD</span></p>-->
                        <button class="btn btn-primary btn-block">Continuer</button>
                        <!--<a href="{{ url('retrait-confirmation') }}" class="btn btn-primary btn-block">Continuer</a>-->
                    </form>
                </div>
                <!-- Withdraw Money Form end -->
            </div>
        </div>
    </div>
</div>
<!-- Content end -->