title = "Connexion"
url = "connexion/"
layout = "default"
[account]
==

<!-- Content ============================================= -->
<div id="content">
    <div class="login-signup-page mx-auto my-5">
        
        <!--<h3 class="font-weight-400 text-center">Connexion</h3>-->
        <!--<p class="lead text-center">Vos informations d'inscription sont en sécurité avec nous.</p>-->
        <div class="bg-light shadow-md rounded p-4 mx-2">
            <img src="{{ 'assets/images/logo-H&BLESSING.png'|theme }}" alt="Payyed" width="198" height="100" style="margin-bottom: 32px;margin-left: 28%;margin-top: 1%;">
            <form id="signupForm" method="post" data-request-flash data-request="onSignin">
                <div class="form-group">
                    <label for="emailAddress">Email</label>
                    <input type="email" class="form-control" id="emailAddress" name="login" required
                        placeholder="Entrez votre email">
                </div>
                <div class="form-group">
                    <label for="loginPassword">Mot de passe</label>
                    <input type="password" class="form-control" id="loginPassword" required
                        placeholder="Entrez votre mot de passe" name="password">
                </div>
                <button class="btn btn-primary btn-block my-4" type="submit">Se connecter</button>
            </form>
            <p class="text-3 text-muted text-center mb-0"><a href="{{ url('password-forgot') }}">Mot de passe oublié ?</a>  / <a class="btn-link"
                    href="{{ url('inscription') }}">S'inscrire</a></p>

        </div>
    </div>
    <!-- Content end -->

    <!-- Footer
============================================= -->
    <!--<footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg d-lg-flex align-items-center">
                    <ul class="nav justify-content-center justify-content-lg-start text-3">
                        <li class="nav-item"> <a class="nav-link active" href="#">About Us</a></li>
                        <li class="nav-item"> <a class="nav-link" href="#">Support</a></li>
                        <li class="nav-item"> <a class="nav-link" href="#">Help</a></li>
                        <li class="nav-item"> <a class="nav-link" href="#">Careers</a></li>
                        <li class="nav-item"> <a class="nav-link" href="#">Affiliate</a></li>
                        <li class="nav-item"> <a class="nav-link" href="#">Fees</a></li>
                    </ul>
                </div>
                <div class="col-lg d-lg-flex justify-content-lg-end mt-3 mt-lg-0">
                    <ul class="social-icons justify-content-center">
                        <li class="social-icons-facebook"><a data-toggle="tooltip"
                                href="http://www.facebook.com/" target="_blank" title="Facebook"><i
                                    class="fab fa-facebook-f"></i></a></li>
                        <li class="social-icons-twitter"><a data-toggle="tooltip" href="http://www.twitter.com/"
                                target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                        <li class="social-icons-google"><a data-toggle="tooltip" href="http://www.google.com/"
                                target="_blank" title="Google"><i class="fab fa-google"></i></a></li>
                        <li class="social-icons-youtube"><a data-toggle="tooltip" href="http://www.youtube.com/"
                                target="_blank" title="Youtube"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-copyright pt-3 pt-lg-2 mt-2">
                <div class="row">
                    <div class="col-lg">
                        <p class="text-center text-lg-left mb-2 mb-lg-0">Copyright &copy; 2019 <a
                                href="#">Payyed</a>. All Rights Reserved.</p>
                    </div>
                    <div class="col-lg d-lg-flex align-items-center justify-content-lg-end">
                        <ul class="nav justify-content-center">
                            <li class="nav-item"> <a class="nav-link active" href="#">Security</a></li>
                            <li class="nav-item"> <a class="nav-link" href="#">Terms</a></li>
                            <li class="nav-item"> <a class="nav-link" href="#">Privacy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>-->
    <!-- Footer end -->
</div>
<!-- Document Wrapper end -->