title = "Dasboard"
url = "dashboard/"
layout = "dashboard"
[ListeCommandesProduits]
[session]
==
<div id="content" class="py-4">
    <div class="container">
        {% flash %}
            <div class="alert alert-success" style="text-align: center;">{{ message }}</div>
        {% endflash %}
        <div class="row">
            
            
            {% partial 'site/navbar-dashboard' %}

            <!-- Middle Panel ============================================= -->
            <div class="col-lg-9">
                

                {% partial 'site/tableau-bord' %}

                <!-- Recent Activity
          =============================== -->
                <div class="bg-light shadow-sm rounded py-4 mb-4">
                    <h3 class="text-5 font-weight-400 d-flex align-items-center px-4 mb-3">Les commandes recentes</h3>

                    <!-- Title
            =============================== -->
                    <div class="transaction-title py-2 px-4">
                        <div class="row">
                            <div class="col-md-2 col-sm-1 text-center"><span class="">Date</span></div>
                            <div class="col-md-7 col-sm-7">Produit</div>
                            <div class="col-md-1 col-sm-2 d-none d-sm-block text-center">Status</div>
                            <div class="col-md-2 col-sm-2 text-right">Montant</div>
                        </div>
                    </div>
                    <!-- Title End -->

                    <!-- Transaction List
            =============================== -->
                    <div class="transaction-list">
                        {% for record in records %}
                            <div class="transaction-item px-4 py-3 detail-modal" >
                                <div class="row align-items-center flex-row">
                                    <div class="col-md-2 col-sm-1 text-center"> 
                                        <span
                                            class="d-block text-4 font-weight-300">{{ record.created_at |date('d-m-Y')  }}</span> 
                                            <!--<span
                                            class="d-block text-1 font-weight-300 text-uppercase">APR</span> -->
                                    </div>
                                    <div class="col-md-7 col-sm-7"> <span class="d-block text-4">{{ record.produit.nom }}</span> </div>
                                    <div class="col-md-1 col-sm-2 d-none d-sm-block text-center text-3"> 
                                        {% if record.statut == 1 %}
                                            <span
                                                class="text-warning" data-toggle="tooltip" data-original-title="In Progress"><i
                                                    class="fas fa-ellipsis-h"></i>
                                            </span> 
                                        {% endif %}
                                        {% if record.statut == 2 %}
                                            <span class="text-success" data-toggle="tooltip" data-original-title="Completed"><i
                                                class="fas fa-check-circle"></i>
                                            </span>
                                        {% endif %}
                                        {% if record.statut == 3 %}
                                            <span 
                                                class="text-danger" data-toggle="tooltip" data-original-title="Cancelled"><i
                                                class="fas fa-times-circle"></i>
                                        </span> 
                                        {% endif %}
                                    </div>
                                    <div class="col-md-2 col-sm-2 text-right text-4"> <span class="text-nowrap">{{ record.produit.prix }}</span>
                                        <span class="text-2 text-uppercase">(FCFA)</span> 
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <!-- Transaction List End -->

                    <!-- Transaction Item Details Modal
            =========================================== -->
                    <div id="transaction-detail" class="modal fade" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered transaction-details" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <div class="row no-gutters">
                                        <div
                                            class="col-sm-5 d-flex justify-content-center bg-primary rounded-left py-4">
                                            <div class="my-auto text-center">
                                                <div class="text-17 text-white my-3"><i class="fas fa-building"></i>
                                                </div>
                                                <h3 class="text-4 text-white font-weight-400 my-3">Envato Pty Ltd</h3>
                                                <div class="text-8 font-weight-500 text-white my-4">$557.20</div>
                                                <p class="text-white">15 March 2019</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-7">
                                            <h5 class="text-5 font-weight-400 m-3">Transaction Details
                                                <button type="button" class="close font-weight-400" data-dismiss="modal"
                                                    aria-label="Close"> <span aria-hidden="true">&times;</span>
                                                </button>
                                            </h5>
                                            <hr>
                                            <div class="px-3">
                                                <ul class="list-unstyled">
                                                    <li class="mb-2">Payment Amount <span
                                                            class="float-right text-3">$562.00</span></li>
                                                    <li class="mb-2">Fee <span class="float-right text-3">-$4.80</span>
                                                    </li>
                                                </ul>
                                                <hr class="mb-2">
                                                <p class="d-flex align-items-center font-weight-500 mb-4">Total Amount
                                                    <span class="text-3 ml-auto">$557.20</span></p>
                                                <ul class="list-unstyled">
                                                    <li class="font-weight-500">Paid By:</li>
                                                    <li class="text-muted">Envato Pty Ltd</li>
                                                </ul>
                                                <ul class="list-unstyled">
                                                    <li class="font-weight-500">Transaction ID:</li>
                                                    <li class="text-muted">26566689645685976589</li>
                                                </ul>
                                                <ul class="list-unstyled">
                                                    <li class="font-weight-500">Description:</li>
                                                    <li class="text-muted">Envato March 2019 Member Payment</li>
                                                </ul>
                                                <ul class="list-unstyled">
                                                    <li class="font-weight-500">Status:</li>
                                                    <li class="text-muted">Completed</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Transaction Item Details Modal End -->

                    <!-- View all Link
            =============================== -->
                    <div class="text-center mt-4"><a href="{{ url('commandes') }}" class="btn-link text-3">Toutes les commandes<i
                                class="fas fa-chevron-right text-2 ml-2"></i></a></div>
                    <!-- View all Link End -->

                </div>
                <!-- Recent Activity End -->
            </div>
            <!-- Middle Panel End -->
        </div>
    </div>
</div>
<!-- Content end -->