title = "Détail actualité"
url = "detail-actualite/:id_actualite"
layout = "default"
[DetailActualite]
==
<!-- Page Header
  ============================================= -->
  <section class="page-header page-header-text-light py-0 mb-0">
	<section class="hero-wrap section">
    <div class="hero-mask opacity-7 bg-dark"></div>
    <div class="hero-bg hero-bg-scroll" style="background-image:url({{ 'assets/images/prescrire-medicaents.jpg'| theme}});"></div>
    <div class="hero-content" style="height: 150px;">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h1 class="text-11 font-weight-500 text-white mb-4">Détail de l'actualité </h1>
            <!--<p class="text-5 text-white line-height-4 mb-4">Our mission is to help you save on transfer fees and exchange rates!</p>
            <a href="#" class="btn btn-primary m-2">Open a Free Account</a> <a class="btn btn-outline-light video-btn m-2" href="#" data-src="https://www.youtube.com/embed/7e90gBu4pas" data-toggle="modal" data-target="#videoModal"><span class="mr-2"><i class="fas fa-play-circle"></i></span>See How it Works</a> </div>-->
        </div>
        </div>
      </div>
    </div>
  </section>
    </section>
  <!-- Page Header end --> 


  <!-- Content ============================================= -->
  <div id="content">
    
    <!-- Who we are ============================================= -->
    <section class="section" style="padding-top: 1.5rem;">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 d-flex">
            <div class="my-auto px-0 px-lg-5 mx-2">
                <h2 class="text-9">{{ record.libelle }}</h2>
                <p class="text-4">
                  {{ record.content|raw }}
                </p>
                  <br>
                  <p>Date de publication : {{ record.published_at|date('d-m-Y h:i:s') }}</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Who we are end -->
    
  </div>
  <!-- Content end --> 