title = "Filleules"
url = "filleules/"
layout = "dashboard"
[session]
[Filleule]
==
<div id="content" class="py-4">
    <div class="container">
        <div class="row">

            {% partial 'site/navbar-dashboard' %}
            
            <!-- Middle Panel ============================================= -->
            <div class="col-lg-9">
                <section class="section bg-light" style="padding-top: 40px;padding-bottom: 40px;">
                    <div class="container overflow-hidden">
                        <div class="row">
                            <div class="offset-md-3 col-md-3">
                                <h2 class="text-9 text-center"><i class="fa fa-users"
                                        style="color: #2dbe60 !important"></i></h2>
                                <h5 class="text-5 text-center">{{ user.nbre_filleules }} filleule(s)</h5>
                            </div>
                            <div class="col-md-3">
                                <h2 class="text-9 text-center"><i class="fas fa-user-clock"
                                        style="color: #2dbe60 !important"></i></h2>
                                <h5 class="text-5 text-center">5 générations</h5>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- Recent Activity =============================== -->
                <div class="bg-light shadow-sm rounded py-4 mb-4" style="height: 35%;">
                    <!-- <h3 class="text-5 font-weight-400 d-flex align-items-center px-4 mb-3">Toutes les activités</h3>-->
                    
                    <style>
                        /*Now the CSS*/
                        * {
                            margin: 0;
                            padding: 0;
                        }

                        .tree ul {
                            padding-top: 20px;
                            position: relative;

                            transition: all 0.5s;
                            -webkit-transition: all 0.5s;
                            -moz-transition: all 0.5s;
                        }

                        .tree li {
                            float: left;
                            text-align: center;
                            list-style-type: none;
                            position: relative;
                            padding: 20px 5px 0 5px;

                            transition: all 0.5s;
                            -webkit-transition: all 0.5s;
                            -moz-transition: all 0.5s;
                        }

                        /*We will use ::before and ::after to draw the connectors*/

                        .tree li::before,
                        .tree li::after {
                            content: '';
                            position: absolute;
                            top: 0;
                            right: 50%;
                            border-top: 1px solid #ccc;
                            width: 50%;
                            height: 20px;
                        }

                        .tree li::after {
                            right: auto;
                            left: 50%;
                            border-left: 1px solid #ccc;
                        }

                        /*We need to remove left-right connectors from elements without  any siblings*/
                        .tree li:only-child::after,
                        .tree li:only-child::before {
                            display: none;
                        }

                        /*Remove space from the top of single children*/
                        .tree li:only-child {
                            padding-top: 0;
                        }

                        /*Remove left connector from first child and  right connector from last child*/
                        .tree li:first-child::before,
                        .tree li:last-child::after {
                            border: 0 none;
                        }

                        /*Adding back the vertical connector to the last nodes*/
                        .tree li:last-child::before {
                            border-right: 1px solid #ccc;
                            border-radius: 0 5px 0 0;
                            -webkit-border-radius: 0 5px 0 0;
                            -moz-border-radius: 0 5px 0 0;
                        }

                        .tree li:first-child::after {
                            border-radius: 5px 0 0 0;
                            -webkit-border-radius: 5px 0 0 0;
                            -moz-border-radius: 5px 0 0 0;
                        }

                        /*Time to add downward connectors from parents*/
                        .tree ul ul::before {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 50%;
                            border-left: 1px solid #ccc;
                            width: 0;
                            height: 20px;
                        }

                        .tree li a {
                            border: 1px solid #ccc;
                            padding: 5px 10px;
                            text-decoration: none;
                            color: #666;
                            font-family: arial, verdana, tahoma;
                            font-size: 11px;
                            display: inline-block;

                            border-radius: 5px;
                            -webkit-border-radius: 5px;
                            -moz-border-radius: 5px;

                            transition: all 0.5s;
                            -webkit-transition: all 0.5s;
                            -moz-transition: all 0.5s;
                        }

                        /*Time for some hover effects*/
                        /*We will apply the hover effect the the lineage of the element also*/
                        .tree li a:hover,
                        .tree li a:hover+ul li a {
                            background: #c8e4f8;
                            color: #000;
                            border: 1px solid #94a0b4;
                        }

                        /*Connector styles on hover*/
                        .tree li a:hover+ul li::after,
                        .tree li a:hover+ul li::before,
                        .tree li a:hover+ul::before,
                        .tree li a:hover+ul ul::before {
                            border-color: #94a0b4;
                        }

                        /*Thats all. I hope you enjoyed it. Thanks :)*/
                    </style>

                    <div class="tree" style="margin-left: 90px;">
                        <ul>
                            <li>
                                <a href="javascript::void(0)">{{ user.name }} {{ user.surname }}</a>
                                <ul>
                                    {% for enfantPremiereGeneration in user.filleuls %}
                                        <li><a href="javascript::void(0)">{{ enfantPremiereGeneration.name }}</a>
                                        {% if enfantPremiereGeneration.filleuls|length > 0 %}
                                            <ul>
                                                {% for enfantDeuxiemeGeneration in enfantPremiereGeneration.filleuls %}
                                                    <li>
                                                        <a href="javascript::void(0)">{{ enfantDeuxiemeGeneration.name }} {{ enfantDeuxiemeGeneration.surname }}</a>
                                                        {% if enfantDeuxiemeGeneration.filleuls|length > 0 %}
                                                            <ul>
                                                                {% for enfantTroisiemeGeneration in enfantDeuxiemeGeneration.filleuls %}
                                                                    <li>
                                                                        <a href="javascript::void(0)">{{ enfantTroisiemeGeneration.name }} {{ enfantTroisiemeGeneration.surname }}</a>
                                                                        {% if enfantDeuxiemeGeneration.filleuls|length > 0 %}
                                                                            <ul>
                                                                            {% for enfantQuatriemeGeneration in enfantTroisiemeGeneration.filleuls %}
                                                                                <a href="javascript::void(0)">{{ enfantQuatriemeGeneration.name }} {{ enfantQuatriemeGeneration.surname }}</a>
                                                                                {% if enfantQuatriemeGeneration.filleuls|length > 0 %}
                                                                                    <ul>
                                                                                        {% for enfantCinquiemeGeneration in enfantQuatriemeGeneration.filleuls %}
                                                                                            <a href="javascript::void(0)">{{ enfantCinquiemeGeneration.name }} {{ enfantCinquiemeGeneration.name }}</a>
                                                                                        {% endfor %}
                                                                                    </ul>
                                                                                {% endif %}
                                                                            {% endfor %}
                                                                            </ul>
                                                                        {% endif %}
                                                                    </li>
                                                                {% endfor %}
                                                            </ul>
                                                        {% endif %}
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </li>
                                    {% endfor %}
                                    <!--<li>
                                        <a href="javascript::void(0)">Child</a>
                                        <ul>
                                            <li>
                                                <a href="javascript::void(0)">Grand Child</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javascript::void(0)">Child</a>
                                        <ul>
                                            <li><a href="javascript::void(0)">Grand Child</a></li>
                                            <li>
                                                <a href="javascript::void(0)">Grand Child</a>
                                                <ul>
                                                    <li>
                                                        <a href="javascript::void(0)">Great Grand Child</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript::void(0)">Great Grand Child</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript::void(0)">Great Grand Child</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li><a href="javascript::void(0)">Grand Child</a></li>
                                        </ul>
                                    </li>-->
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Recent Activity End -->
            </div>
            <!-- Middle Panel End -->
        </div>
    </div>
</div>
<!-- Content end -->