title = "Profile"
url = "profile/"
layout = "dashboard"
[session]
[account]
==
<!-- Content
  ============================================= -->
  <div id="content" class="py-4">
    <div class="container">
      <div class="row"> 
        
        {% partial 'site/navbar-dashboard' %}
        
        <!-- Middle Panel
        ============================================= -->
        <div class="col-lg-9">
          {% flash %}
            <div class="alert alert-success" style="text-align: center;">{{ message }}</div>
          {% endflash %}
          
          <!-- Personal Details
          ============================================= -->
          <div class="bg-light shadow-sm rounded p-4 mb-4">
            <h3 class="text-5 font-weight-400 mb-3">Informations personnelles<a href="#edit-personal-details" data-toggle="modal" class="float-right text-1 text-uppercase text-muted btn-link"><i class="fas fa-edit mr-1"></i>Modifier</a></h3>
            <div class="row">
              <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Nom et prénoms</p>
              <p class="col-sm-9">{{ user.name }} {{ user.surname }}</p>
            </div>
            <!--<div class="row">
              <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Date de naissance</p>
              <p class="col-sm-9"></p>
            </div>-->
            <div class="row">
              <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Ville</p>
              <p class="col-sm-9">{{ user.ville }}</p>
            </div>
            <div class="row">
              <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Téléphone</p>
              <p class="col-sm-9">{{ user.tel }}</p>
            </div>
            <div class="row">
              <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Code adhérant</p>
              <p class="col-sm-9">{{ user.code_parrainage }}</p>
            </div>
          </div>
          <!-- Edit Details Modal
          ================================== -->
          <div id="edit-personal-details" class="modal fade " role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title font-weight-400">Informations personnelles</h5>
                  <button type="button" class="close font-weight-400" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                </div>
                <div class="modal-body p-4">
                  <form id="signupForm" method="post" data-request-flash data-request="onUpdatePersonnalInformation">
                    <div class="row">
                      <div class="col-12 col-sm-6">
                        <div class="form-group">
                          <label for="firstName">Nom</label>
                          <input type="text" name="name" value="{{ user.name }}" class="form-control" data-bv-field="firstName" id="firstName" required placeholder="Entrez votre nom">
                        </div>
                      </div>
                      <div class="col-12 col-sm-6">
                        <div class="form-group">
                          <label for="fullName">Prénoms</label>
                          <input type="text" name="surname" value="{{ user.surname }}" class="form-control" data-bv-field="fullName" id="fullName" required placeholder="Entrez votre prénom">
                        </div>
                      </div>
                      
                      <div class="col-12 col-sm-12">
                        <div class="form-group">
                          <label for="city">Ville</label>
                          <input id="city" name="ville" type="text" class="form-control" value="{{ user.ville }}" placeholder="Entrez votre ville">
                        </div>
                      </div>
                      <div class="col-12 col-sm-12">
                        <div class="form-group">
                          <label for="city">Téléphone</label>
                          <input id="city" name="tel" value="{{ user.tel }}" type="number" class="form-control"  placeholder="Entrez un numéros de téléphone">
                        </div>
                      </div>
                    </div>
                    <button class="btn btn-primary btn-block mt-2" type="submit">Enregistrer</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- Personal Details End -->
          
          <!-- Account Settings
          ============================================= -->
          <!--<div class="bg-light shadow-sm rounded p-4 mb-4">
            <h3 class="text-5 font-weight-400 mb-3">Account Settings <a href="#edit-account-settings" data-toggle="modal" class="float-right text-1 text-uppercase text-muted btn-link"><i class="fas fa-edit mr-1"></i>Modifier</a></h3>
            <div class="row">
              <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Language</p>
              <p class="col-sm-9">English (United States)</p>
            </div>
            <div class="row">
              <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Time Zone</p>
              <p class="col-sm-9">(GMT-06:00) Central America</p>
            </div>
            <div class="row">
              <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Account Status</p>
              <p class="col-sm-9"><span class="bg-success text-white rounded-pill d-inline-block px-2 mb-0"><i class="fas fa-check-circle"></i> Active</span></p>
            </div>
          </div>-->
          <!-- Edit Details Modal
          ================================== -->
          <div id="edit-account-settings" class="modal fade " role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title font-weight-400">Account Settings</h5>
                  <button type="button" class="close font-weight-400" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                </div>
                <div class="modal-body p-4">
                  <form id="accountSettings" method="post">
                    <div class="row">
                      <div class="col-12">
                        <div class="form-group">
                          <label for="language">Language</label>
                          <select class="custom-select" id="language" name="language_id">
                            <option value="1">English (United States)</option>
                            <option value="2">Spanish </option>
                            <option value="3">Chinese</option>
                            <option value="4">Russian</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="form-group">
                          <label for="input-timezone">Time Zone</label>
                          <select class="custom-select" id="input-timezone" name="timezone_id">
                            <option value="-12">(GMT-12:00) International Date Line West</option>
                            <option value="-11">(GMT-11:00) Midway Island, Samoa</option>
                            <option value="-10">(GMT-10:00) Hawaii</option>
                            <option value="-9">(GMT-09:00) Alaska</option>
                            <option value="-8">(GMT-08:00) Pacific Time (US & Canada)</option>
                            <option value="-8">(GMT-08:00) Tijuana, Baja California</option>
                            <option value="-7">(GMT-07:00) Arizona</option>
                            <option value="-7">(GMT-07:00) Chihuahua, La Paz, Mazatlan</option>
                            <option value="-7">(GMT-07:00) Mountain Time (US & Canada)</option>
                            <option selected="selected" value="-6">(GMT-06:00) Central America</option>
                            <option value="-6">(GMT-06:00) Central Time (US & Canada)</option>
                            <option value="-6">(GMT-06:00) Guadalajara, Mexico City, Monterrey</option>
                            <option value="-6">(GMT-06:00) Saskatchewan</option>
                            <option value="-5">(GMT-05:00) Bogota, Lima, Quito, Rio Branco</option>
                            <option value="-5">(GMT-05:00) Eastern Time (US & Canada)</option>
                            <option value="-5">(GMT-05:00) Indiana (East)</option>
                            <option value="-4">(GMT-04:00) Atlantic Time (Canada)</option>
                            <option value="-4">(GMT-04:00) Caracas, La Paz</option>
                            <option value="-4">(GMT-04:00) Manaus</option>
                            <option value="-4">(GMT-04:00) Santiago</option>
                            <option value="-3.5">(GMT-03:30) Newfoundland</option>
                            <option value="-3">(GMT-03:00) Brasilia</option>
                            <option value="-3">(GMT-03:00) Buenos Aires, Georgetown</option>
                            <option value="-3">(GMT-03:00) Greenland</option>
                            <option value="-3">(GMT-03:00) Montevideo</option>
                            <option value="-2">(GMT-02:00) Mid-Atlantic</option>
                            <option value="-1">(GMT-01:00) Cape Verde Is.</option>
                            <option value="-1">(GMT-01:00) Azores</option>
                            <option value="0">(GMT+00:00) Casablanca, Monrovia, Reykjavik</option>
                            <option value="0">(GMT+00:00) Greenwich Mean Time : Dublin, Edinburgh, Lisbon, London</option>
                            <option value="1">(GMT+01:00) Amsterdam, Berlin, Bern, Rome, Stockholm, Vienna</option>
                            <option value="1">(GMT+01:00) Belgrade, Bratislava, Budapest, Ljubljana, Prague</option>
                            <option value="1">(GMT+01:00) Brussels, Copenhagen, Madrid, Paris</option>
                            <option value="1">(GMT+01:00) Sarajevo, Skopje, Warsaw, Zagreb</option>
                            <option value="1">(GMT+01:00) West Central Africa</option>
                            <option value="2">(GMT+02:00) Amman</option>
                            <option value="2">(GMT+02:00) Athens, Bucharest, Istanbul</option>
                            <option value="2">(GMT+02:00) Beirut</option>
                            <option value="2">(GMT+02:00) Cairo</option>
                            <option value="2">(GMT+02:00) Harare, Pretoria</option>
                            <option value="2">(GMT+02:00) Helsinki, Kyiv, Riga, Sofia, Tallinn, Vilnius</option>
                            <option value="2">(GMT+02:00) Jerusalem</option>
                            <option value="2">(GMT+02:00) Minsk</option>
                            <option value="2">(GMT+02:00) Windhoek</option>
                            <option value="3">(GMT+03:00) Kuwait, Riyadh, Baghdad</option>
                            <option value="3">(GMT+03:00) Moscow, St. Petersburg, Volgograd</option>
                            <option value="3">(GMT+03:00) Nairobi</option>
                            <option value="3">(GMT+03:00) Tbilisi</option>
                            <option value="3.5">(GMT+03:30) Tehran</option>
                            <option value="4">(GMT+04:00) Abu Dhabi, Muscat</option>
                            <option value="4">(GMT+04:00) Baku</option>
                            <option value="4">(GMT+04:00) Yerevan</option>
                            <option value="4.5">(GMT+04:30) Kabul</option>
                            <option value="5">(GMT+05:00) Yekaterinburg</option>
                            <option value="5">(GMT+05:00) Islamabad, Karachi, Tashkent</option>
                            <option value="5.5">(GMT+05:30) Sri Jayawardenapura</option>
                            <option value="5.5">(GMT+05:30) Chennai, Kolkata, Mumbai, New Delhi</option>
                            <option value="5.75">(GMT+05:45) Kathmandu</option>
                            <option value="6">(GMT+06:00) Almaty, Novosibirsk</option>
                            <option value="6">(GMT+06:00) Astana, Dhaka</option>
                            <option value="6.5">(GMT+06:30) Yangon (Rangoon)</option>
                            <option value="7">(GMT+07:00) Bangkok, Hanoi, Jakarta</option>
                            <option value="7">(GMT+07:00) Krasnoyarsk</option>
                            <option value="8">(GMT+08:00) Beijing, Chongqing, Hong Kong, Urumqi</option>
                            <option value="8">(GMT+08:00) Kuala Lumpur, Singapore</option>
                            <option value="8">(GMT+08:00) Irkutsk, Ulaan Bataar</option>
                            <option value="8">(GMT+08:00) Perth</option>
                            <option value="8">(GMT+08:00) Taipei</option>
                            <option value="9">(GMT+09:00) Osaka, Sapporo, Tokyo</option>
                            <option value="9">(GMT+09:00) Seoul</option>
                            <option value="9">(GMT+09:00) Yakutsk</option>
                            <option value="9.5">(GMT+09:30) Adelaide</option>
                            <option value="9.5">(GMT+09:30) Darwin</option>
                            <option value="10">(GMT+10:00) Brisbane</option>
                            <option value="10">(GMT+10:00) Canberra, Melbourne, Sydney</option>
                            <option value="10">(GMT+10:00) Hobart</option>
                            <option value="10">(GMT+10:00) Guam, Port Moresby</option>
                            <option value="10">(GMT+10:00) Vladivostok</option>
                            <option value="11">(GMT+11:00) Magadan, Solomon Is., New Caledonia</option>
                            <option value="12">(GMT+12:00) Auckland, Wellington</option>
                            <option value="12">(GMT+12:00) Fiji, Kamchatka, Marshall Is.</option>
                            <option value="13">(GMT+13:00) Nuku'alofa</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="form-group">
                          <label for="accountStatus">Account Status</label>
                          <select class="custom-select" id="accountStatus" name="language_id">
                            <option value="1">Active</option>
                            <option value="2">In Active</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <button class="btn btn-primary btn-block mt-2" type="submit">Enregistrer</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- Account Settings End -->
          
          <!-- Email Addresses
          ============================================= -->
          <div class="bg-light shadow-sm rounded p-4 mb-4">
            <h3 class="text-5 font-weight-400 mb-3">Email 
              <!--<a href="#edit-email" data-toggle="modal" class="float-right text-1 text-uppercase text-muted btn-link">
                <i class="fas fa-edit mr-1"></i>Modifier
              </a>-->
              </h3>
            <div class="row">
              <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Email <!--<span class="text-muted font-weight-500">(Primary)</span>--></p>
              <p class="col-sm-9">{{ user.email }}</p>
            </div>
          </div>
          <!-- Edit Details Modal
          ================================== -->
          <div id="edit-email" class="modal fade " role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title font-weight-400">Email</h5>
                  <button type="button" class="close font-weight-400" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                </div>
                <div class="modal-body p-4">
                  <form id="emailAddresses" method="post">
                    <div class="row">
                      <div class="col-12">
                        <div class="form-group">
                          <label for="emailID">Email <!--<span class="text-muted font-weight-500">(Primary)</span>--></label>
                          <input type="text" value="smithrhodes1982@gmail.com" class="form-control" data-bv-field="emailid" id="emailID" required placeholder="Email ID">
                        </div>
                      </div>
                    </div>
                    <!--<a class="btn-link text-uppercase d-flex align-items-center text-1 float-right mb-3" href="#"><span class="text-3 mr-1"><i class="fas fa-plus-circle"></i></span>Add another email</a>-->
                    <button class="btn btn-primary btn-block" type="submit">Enregistrer</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- Email Addresses End -->
          
          <!-- Phone
          ============================================= -->
          <!--<div class="bg-light shadow-sm rounded p-4 mb-4">
            <h3 class="text-5 font-weight-400 mb-3">Téléphone <a href="#edit-phone" data-toggle="modal" class="float-right text-1 text-uppercase text-muted btn-link"><i class="fas fa-edit mr-1"></i>Modifier</a></h3>
            <div class="row">
              <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Téléphone </p>
              <p class="col-sm-9">+1 202-555-0125</p>
            </div>
          </div>-->
          <!-- Edit Details Modal
          ================================== -->
          <div id="edit-phone" class="modal fade " role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title font-weight-400">Téléphone</h5>
                  <button type="button" class="close font-weight-400" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                </div>
                <div class="modal-body p-4">
                  <form id="phone" method="post">
                    <div class="row">
                      <div class="col-12">
                        <div class="form-group">
                          <label for="mobileNumber">Téléphone <!--<span class="text-muted font-weight-500">(Primary)</span>--></label>
                          <input type="text" value="+1 202-555-0125" class="form-control" data-bv-field="mobilenumber" id="mobileNumber" required placeholder="Mobile Number">
                        </div>
                      </div>
                    </div>
                    <!--<a class="btn-link text-uppercase d-flex align-items-center text-1 float-right mb-3" href="#"><span class="text-3 mr-1"><i class="fas fa-plus-circle"></i></span>Add another Phone</a>-->
                    <button class="btn btn-primary btn-block" type="submit">Enregistrer</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- Phone End -->
          
          <!-- Security
          ============================================= -->
          <div class="bg-light shadow-sm rounded p-4">
            <h3 class="text-5 font-weight-400 mb-3">Securité <a href="#change-password" data-toggle="modal" class="float-right text-1 text-uppercase text-muted btn-link"><i class="fas fa-edit mr-1"></i>Modifier</a></h3>
            <div class="row">
              <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">
                <label class="col-form-label">Mot de passe</label>
              </p>
              <p class="col-sm-9">
                <input type="password" class="form-control-plaintext" data-bv-field="password" id="password" value="EnterPassword">
              </p>
            </div>
          </div>
          <!-- Edit Details Modal
          ================================== -->
          <div id="change-password" class="modal fade " role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title font-weight-400">Modification du mot de passe</h5>
                  <button type="button" class="close font-weight-400" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                </div>
                <div class="modal-body p-4">
                  <form id="signupForm" method="post" data-request-flash data-request="onUpdatePassword">
                    <div class="form-group">
                      <label for="existingPassword">Mot de passe courant</label>
                      <input type="password" class="form-control" name="password_courant" data-bv-field="existingpassword" id="existingPassword" required placeholder="Entrez le mot de passe courant">
                    </div>
                    <div class="form-group">
                      <label for="password">Nouveau mot de passe</label>
                      <input type="password" class="form-control" name="password" data-bv-field="newpassword" id="newPassword" required placeholder="Entrez le nouveau mot de passe">
                    </div>
                    <div class="form-group">
                      <label for="confirmPassword">Confirmé le nouveau mot de passe</label>
                      <input type="password" class="form-control" name="password_confirmation" data-bv-field="confirmgpassword" id="confirmPassword" required placeholder="Entrez le nouveau mot de passe">
                    </div>
                    <button class="btn btn-primary btn-block mt-4" type="submit">Enregister</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- Security End -->
          
        </div>
        <!-- Middle Panel End --> 
      </div>
    </div>
  </div>
  <!-- Content end --> 