
<div class="container">
    <div class="card" style="margin-top: 5%;border: 0px solid #fff;">
        <!--<div class="card-header" style="text-align: center;background: #fff;border: 0px solid #fff;"><h2>Liste des produits </h2></div>-->
        <div class="card-body">

            {% if records|length > 0 %}
                {% for record in records %}
                    <div class="col-md-4 float-left" style="margin-bottom: 30px">
                        <div class="card" style="width: 18rem;">
                            <div class="card-header" style="padding: 0px;
                            width: 100%;
                            background-color: #fff;
                            border-bottom-width: 0px;">
                                {% if record.cover and record.cover.getPath %}
                                    <img src="{{ record.cover.getPath }}" class="card-img-top"  style="height: 249px" alt="...">
                                {% else %}
                                    <svg style="height: 255px" class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
                                {% endif %}
                            </div>
                            <div class="card-body">
                                <h6 class="card-title" style="text-align: center;">{{ record.nom|slice(0, 26) }} </h6>
                                <!--<p class="card-title" style="text-align: center;">{{record.prix}} FCFA</p>-->
                                <a href="{{url('produits')}}/{{ record.id }}" class="btn btn-primary" style="width: 100%;">Détail</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}    
            {% else %}
            <div class="alert alert-warning">
                Vous n'avez pas encore Produits !<br />
            </div>
            {% endif %}
        </div>
    </div>


    <!--<ul class="pagination justify-content-center mt-4 mb-0">
        <li class="page-item disabled"> <a class="page-link" href="#" tabindex="-1"><i
                    class="fas fa-angle-left"></i></a> </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active"> <a class="page-link" href="#">2 <span
                    class="sr-only">(current)</span></a> </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item d-flex align-content-center flex-wrap text-muted text-5 mx-1">......</li>
        <li class="page-item"><a class="page-link" href="#">15</a></li>
        <li class="page-item"> <a class="page-link" href="#"><i class="fas fa-angle-right"></i></a>
        </li>
    </ul>-->

    <!-- Pagination ============================================= -->
    <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center mt-4 mb-0" style="margin-top: 0px !important;margin-bottom: 20px !important;">
        {{ records| raw }}
        <!--<li class="page-item disabled"> <a class="page-link" href="#" tabindex="-1"><i
                    class="fas fa-angle-left"></i></a> </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active"> <a class="page-link" href="#">2 <span
                    class="sr-only">(current)</span></a> </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item d-flex align-content-center flex-wrap text-muted text-5 mx-1">......</li>
        <li class="page-item"><a class="page-link" href="#">15</a></li>
        <li class="page-item"> <a class="page-link" href="#"><i class="fas fa-angle-right"></i></a>
        </li>-->
    </ul>
</nav>
    <!-- Paginations end -->


    <!--{% if records.lastPage > 1 %}
    <div class="row">
        <div class="col-md-12">
            <div class="pagination-main">
                <ul class="pagination">
                    {% if records.currentPage > 1 %}
                    <li><a href="{{ this.page.baseFileName|page({page: records.currentPage-1 }) }}"><i
                                class="fa fa-angle-double-left"></i> Précédent</a></li>
                    {% endif %}

                    {% for page in 1..records.lastPage %}
                    <li class="{{ records.currentPage == page ? 'active' : null }}">
                        <a href="{{ this.page.baseFileName|page({ page: page }) }}">{{ page }}</a>
                    </li>
                    {% endfor %}

                    {% if records.lastPage > records.currentPage %}
                    <li><a href="{{ this.page.baseFileName|page({page: records.currentPage+1 }) }}">Suivant <i
                                class="fa fa-angle-double-right"></i></a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    {% endif %}-->
</div>