

<div class="container">
            <h1>
                    <i class="icon-badge text-success menu-icon"></i>
                    <span class="menu-title text-success">Liste des Rechargementcomptes</span>
                </h1>
        <div class="card">
            <div class="card-body">

        {% if records|length > 0 %}
		<div class="col-md-12">
        <div class="table-responsive">

                
              <table id="mytable" class="table table-hover">
                   
                   <thead>
                        
         <th>Montant</th>
         <th>Adherent</th>
         <th>Detailsoperation</th>
         <th>Status</th>
         <th>Valideur</th>
				<th>Action</th>
                   </thead>
       <tbody>
	    {% for record in records %}
		
	    <tr>
             
         <td>{{record.montant}}</td>
         <td>{{record.adherent.name}}</td>
         <td>{{record.detailsoperation}}</td>
         <td>{{record.status.libelle}}</td>
         <td>{{record.valideur.first_name}}</td>
		 <td><a href="{{viewpage|page ({ id:record.id})}}">View | </a><a href="{{updatepage|page ({ id:record.id})}}">Update</a></td>
        </tr>
		{% endfor %}
		
     </tbody>
        
  </table>
    
    </div>
	</div>
{% else %}	
	 <div class="alert alert-warning">
		Vous n'avez encore Rechargementcomptes !<br/>
		
		</div>


{% endif %}



            </div>
         </div>
        {% if records.lastPage > 1 %}
                         <div class="row">
									<div class="col-md-12">
										<!-- Start Pagination -->
										<div class="pagination-main">
                                                <ul class="pagination">
                                                    {% if records.currentPage > 1 %}
                                                        <li><a href="{{ this.page.baseFileName|page({page: records.currentPage-1 }) }}"><i class="fa fa-angle-double-left"></i> Précédent</a></li>
                                                    {% endif %}
                                            
                                                    {% for page in 1..records.lastPage %}
                                                        <li class="{{ records.currentPage == page ? 'active' : null }}">
                                                            <a href="{{ this.page.baseFileName|page({ page: page }) }}">{{ page }}</a>
                                                        </li>
                                                    {% endfor %}
                                            
                                                    {% if records.lastPage > records.currentPage %}
                                                        <li><a href="{{ this.page.baseFileName|page({page: records.currentPage+1 }) }}">Suivant <i class="fa fa-angle-double-right"></i></a></li>
                                                    {% endif %}
                                                </ul>
                                                </div>
										<!--/ End Pagination -->
									</div>
								</div>		
             {% endif %}
</div>	
	
	