title = "Retrait"
url = "transfert-request/"
layout = "dashboard"
[TransfertArgent]
[session]
==
<!-- Content
  ============================================= -->
  <div id="content" class="py-4">
    <div class="container">
        <h2 class="font-weight-400 text-center mt-3 mb-4">Transfert d'argent</h2>
        <div class="row">
            <div class="col-md-8 col-lg-6 col-xl-5 mx-auto">
                <!-- Withdraw Money Form ============================================= -->
                <div class="bg-light shadow-sm rounded p-3 p-sm-4 mb-4">
                    <form  method="get" id="form-withdraw-money-confirm" data-request-flash data-request="onRequestTransfertArgent">
                        <div class="form-group">
                            <label for="youSend">Adhérant</label>
                            <div class="input-group">
                                <select name="destinataire_id" required id="" class="form-control">
                                    <option value="">Sélectionner un adhérant </option>
                                    {% for adherant in adherants %}
                                        <option value="{{ adherant.id }}">{{ adherant.name }} {{ adherant.surname }} </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="youSend">Montant</label>
                            <div class="input-group">
                                <div class="input-group-prepend"> <span class="input-group-text">FCFA</span> </div>
                                <input type="number" name="montant" class="form-control" data-bv-field="youSend" id="youSend">
                            </div>
                        </div>
                        <button class="btn btn-primary btn-block" type="submit">Continuer</button>
                    </form>
                </div>
                <!-- Withdraw Money Form end -->
            </div>
        </div>
    </div>
</div>
<!-- Content end -->