title = "Retrait"
url = "transfert-confirmation/"
layout = "dashboard"
[TransfertArgent]
[session]
==
<!-- Content
  ============================================= -->
<div id="content" class="py-4">
    <div class="container">
        <h2 class="font-weight-400 text-center mt-3 mb-4">Transfert d'argent</h2>
        <div class="row">
            <div class="col-md-8 col-lg-6 col-xl-5 mx-auto">
                <!-- Withdraw Money Confirm
  ============================================= -->
                <div class="bg-light shadow-sm rounded p-3 p-sm-4 mb-4">
                    <p class="text-4 text-center alert alert-info">Vous êtes sur le point de un transfert d'argent<br>
                        <!--to<br>
                        <span class="font-weight-500">HDFC Bank - XXXXXXXXXXXX-9025</span>-->
                    </p>
                    <!--<p class="mb-2 mt-4">Amount to Withdraw <span class="text-3 float-right">1,000.00 USD</span>
                    </p>
                    <p class="text-muted">Transactions fees <span class="float-right d-flex align-items-center">5.00
                            USD</span></p>
                    <hr>-->
                    <p class="font-weight-500">Destinaire<span class="text-3 float-right">{{ destinateur.name }} {{ destinateur.surname }}</span></p>
                    <p class="font-weight-500">Montant<span class="text-3 float-right">{{ montant }} FCFA</span></p>
                    <form id="form-withdraw-money-confirm" method="post" data-request-flash data-request="onConfirmTransfertArgent">
                        <input type="text" name="montant" value="{{ montant }}" hidden>
                        <input type="text" name="destinataire_id" value="{{ destinateur.id }}" hidden>
                        <button class="btn btn-primary btn-block" type="submit">Confirmer le transfert</button>
                        <!--<a class="btn btn-primary btn-block" href="{{ url('retrait-success') }}">Confirmer le retrait</a>-->
                    </form>
                </div>
                <!-- Withdraw Money Confirm end -->
            </div>
        </div>
    </div>
</div>
<!-- Content end -->