
         <style>
    
    .form-group.required .control-label:after {
  content:"*";
  color:red;
}

    fieldset 
	{
		border: 1px solid #ddd !important;
		margin: 0;
		xmin-width: 0;
		padding: 10px;       
		position: relative;
		border-radius:4px;
		background-color:#f5f5f5;
		padding-left:10px!important;
	}	
	
		legend
		{
			font-size:14px;
			font-weight:bold;
			margin-bottom: 0px; 
			width: 35%; 
			border: 1px solid #ddd;
			border-radius: 4px; 
			padding: 5px 5px 5px 10px; 
			background-color: #ffffff;
		}
</style>
<div class="container">
    <h1>
        <i class="icon-refresh text-success menu-icon"></i>
        <span class="menu-title text-success">Formulaire Reversementbonus</span>
    </h1>
        <fieldset class="col-md-12">
            <legend>Reversementbonus</legend>
                <form class="form-elements" data-request="onCreate"  data-request-files data-request-flash  accept-charset="UTF8" enctype="multipart/form-data">
                  
                    <div class="row" >    
							<div class="col-md-4">
								<div class="form-group required">
									<label class="control-label" for="registerName">Montant</label >
									<input name="montant" type="number" class="form-control" id="montant"   placeholder="Entrer montant">
								</div>
							</div>   
							<div class="col-md-4">
								<div class="form-group required">
									<label class="control-label" for="registerName">Adherent</label >
									<select name="adherent_id" id="adherent_id" class="form-control"  placeholder="Entrer adherent_id">
										 <option disabled selected value> -- Veuillez Sélectionnez  -- </option>
									    {% for valeur in adherent_ids %}
											<option value="{{valeur.id}} ">{{valeur.name}}</option>
									    {% endfor %}
									</select>
								</div>
							</div>   </div>
                        <div class="row" >
                            <div class="col-md-3">
                                <a href="#" class="btn btn-danger btn-block">Annuler</a>
                            </div>
                            <div class="col-md-3 ">
                                <button type="submit" class="btn btn-success btn-block" data-attach-loading>Enregistrer</button>
                            </div>
                        </div>
             
                    
               </form>
        </fieldset>
	  </div>

		

		