<!-- Content
  ============================================= -->
  <div id="content" class="py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-6 col-xl-5 mx-auto">
                <!-- Withdraw Money Success ============================================= -->
                <div class="bg-light shadow-sm rounded p-3 p-sm-4 mb-4">
                    <div class="text-center my-5">
                        <p class="text-center text-success text-20 line-height-07"><i
                                class="fas fa-check-circle"></i></p>
                        <p class="text-center text-success text-8 line-height-07">Succes!</p>
                        <p class="text-center text-4">Votre mot de passe a été restauré avec succès </p>
                    </div>
                </div>
                <!-- Withdraw Money Success end -->
            </div>
        </div>
    </div>
</div>
<!-- Content end -->