<!-- Content ============================================= -->
<div id="content">
    <div class="login-signup-page mx-auto my-5">

        <!--<h3 class="font-weight-400 text-center">Connexion</h3>-->
        <!--<p class="lead text-center">Vos informations d'inscription sont en sécurité avec nous.</p>-->
        <h3 class="font-weight-400 text-center">Veuillez vérifier votre email pour le code d'activation.</h3>
        <div class="bg-light shadow-md rounded p-4 mx-2">
            <img src="{{ 'assets/images/logo-H&BLESSING.png'|theme }}"  alt="Payyed"
                width="121" height="33" style="margin-bottom: 32px;margin-left: 33%;margin-top: 1%;">

            <form data-request="{{ __SELF__ }}::onResetPassword"
                data-request-update="'{{ __SELF__ }}::complete': '#partialUserResetForm'">
                <div class="form-group">
                    <label for="resetCode">Code d'activation</label>
                    <input name="code" type="text" class="form-control" id="resetCode"
                        placeholder="Entrer le code d'activation" value="{{ __SELF__.code }}" required>
                </div>

                <div class="form-group">
                    <label for="resetPassword">Nouveau mot de passe</label>
                    <input name="password" type="password" class="form-control" id="resetPassword"
                        placeholder="Entrer un nouveau mot de passe" required>
                </div>

                <div class="form-group">
                    <label for="resetPassword">Retaper le mot de passe</label>
                    <input name="password_confirmation" type="password" class="form-control" id="resetPassword"
                        placeholder="Retaper le mot de passe" required>
                </div>

                <button class="btn btn-primary btn-block my-4" type="submit">Restaurer le mot de passe</button>
            </form>
        </div>
    </div>
    <!-- Content end -->

    <!-- Footer
============================================= -->
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg d-lg-flex align-items-center">
                    <ul class="nav justify-content-center justify-content-lg-start text-3">
                        <li class="nav-item"> <a class="nav-link active" href="#">About Us</a></li>
                        <li class="nav-item"> <a class="nav-link" href="#">Support</a></li>
                        <li class="nav-item"> <a class="nav-link" href="#">Help</a></li>
                        <li class="nav-item"> <a class="nav-link" href="#">Careers</a></li>
                        <li class="nav-item"> <a class="nav-link" href="#">Affiliate</a></li>
                        <li class="nav-item"> <a class="nav-link" href="#">Fees</a></li>
                    </ul>
                </div>
                <div class="col-lg d-lg-flex justify-content-lg-end mt-3 mt-lg-0">
                    <ul class="social-icons justify-content-center">
                        <li class="social-icons-facebook"><a data-toggle="tooltip" href="http://www.facebook.com/"
                                target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="social-icons-twitter"><a data-toggle="tooltip" href="http://www.twitter.com/"
                                target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                        <li class="social-icons-google"><a data-toggle="tooltip" href="http://www.google.com/"
                                target="_blank" title="Google"><i class="fab fa-google"></i></a></li>
                        <li class="social-icons-youtube"><a data-toggle="tooltip" href="http://www.youtube.com/"
                                target="_blank" title="Youtube"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-copyright pt-3 pt-lg-2 mt-2">
                <div class="row">
                    <div class="col-lg">
                        <p class="text-center text-lg-left mb-2 mb-lg-0">Copyright &copy; 2019 <a href="#">Payyed</a>.
                            All Rights Reserved.</p>
                    </div>
                    <div class="col-lg d-lg-flex align-items-center justify-content-lg-end">
                        <ul class="nav justify-content-center">
                            <li class="nav-item"> <a class="nav-link active" href="#">Security</a></li>
                            <li class="nav-item"> <a class="nav-link" href="#">Terms</a></li>
                            <li class="nav-item"> <a class="nav-link" href="#">Privacy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer end -->
</div>
<!-- Document Wrapper end -->