title = "Dépôt"
url = "depot-request/"
layout = "dashboard"
==


<!-- Content
  ============================================= -->
  <div id="content" class="py-4">
    <div class="container">
        <h2 class="font-weight-400 text-center mt-3 mb-4">Dépôt d'argent</h2>
        <div class="row">
            <div class="col-md-8 col-lg-6 col-xl-5 mx-auto">
                <!-- Withdraw Money Form ============================================= -->
                <div class="bg-light shadow-sm rounded p-3 p-sm-4 mb-4">
                    <div class="text-center bg-primary p-4 rounded mb-4">
                        <h3 class="text-10 text-white font-weight-400">$2956.00</h3>
                        <p class="text-white">Available Balance</p>
                        <a href=""
                            class="btn btn-outline-light btn-sm shadow-none text-uppercase rounded-pill text-1">Withdraw
                            Full Amount</a>
                    </div>
                    <form id="form-send-money" method="post">
                        <!--<div class="form-group">
                            <label for="withdrawto">Withdraw to</label>
                            <select id="withdrawto" class="custom-select" required="">
                                <option value="">HDFC Bank - XXXXXXXXXXXX-9025</option>
                                <option>Bank A/c 2 - XXXXXX-1211</option>
                                <option>Bank A/c 3 - XXXXXX-2011</option>
                                <option>Bank A/c 4 - XXXXXX-2011</option>
                            </select>
                        </div>-->
                        <div class="form-group">
                            <label for="youSend">Montant</label>
                            <div class="input-group">
                                <div class="input-group-prepend"> <span class="input-group-text">$</span> </div>
                                <input type="text" class="form-control" data-bv-field="youSend" id="youSend"
                                    value="1,000" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="youSend">Référence</label>
                            <div class="input-group">
                                <div class="input-group-prepend"> <span class="input-group-text">$</span> </div>
                                <input type="text" class="form-control" data-bv-field="youSend" id="youSend"
                                    value="1,000" placeholder="">
                            </div>
                        </div>
                        <!--<p class="text-muted mt-4">Transactions fees <span
                                class="float-right d-flex align-items-center">5.00 USD</span></p>-->
                        <!--<p class="font-weight-500">Amount to Withdraw <span class="text-3 float-right">1,000.00
                                USD</span></p>-->
                        <!-- <button class="btn btn-primary btn-block">Continuer</button>-->
                        <a href="{{ url('depot-confirmation') }}" class="btn btn-primary btn-block">Continuer</a>
                    </form>
                </div>
                <!-- Withdraw Money Form end -->
            </div>
        </div>
    </div>
</div>
<!-- Content end -->