
         <style>
    
    .form-group.required .control-label:after {
  content:"*";
  color:red;
}

    fieldset 
	{
		border: 1px solid #ddd !important;
		margin: 0;
		xmin-width: 0;
		padding: 10px;       
		position: relative;
		border-radius:4px;
		background-color:#f5f5f5;
		padding-left:10px!important;
	}	
	
		legend
		{
			font-size:14px;
			font-weight:bold;
			margin-bottom: 0px; 
			width: 35%; 
			border: 1px solid #ddd;
			border-radius: 4px; 
			padding: 5px 5px 5px 10px; 
			background-color: #ffffff;
		}
</style>
<div class="container">
    <h1>
        <i class="icon-refresh text-success menu-icon"></i>
        <span class="menu-title text-success">Formulaire Backendactions</span>
    </h1>
        <fieldset class="col-md-12">
            <legend>Backendactions</legend>
                <form class="form-elements" data-request="onUpdate"  data-request-files data-request-flash  accept-charset="UTF8" enctype="multipart/form-data">
                  
                    <div class="row" >    
							<div class="col-md-4">
								<div class="form-group required">
									<label class="control-label" for="registerName">Utilisateur</label >
									<select name="utilisateur" id="backenduser_id" class="form-control"  placeholder="Entrer backenduser_id">
										 <option disabled selected value> -- Veuillez Sélectionnez  -- </option>
									    {% for utilisateur in utilisateurs %}
											<option value="{{utilisateur.id}} "{% if record.backenduser_id == utilisateur.id %} selected {% endif %}>{{utilisateur.first_name}}</option>
									    {% endfor %}
									</select>
								</div>
							</div>   
							<div class="col-md-4">
								<div class="form-group required">
									<label class="control-label" for="registerName">Table concernée</label >
									<input name="actiontable" type="text" class="form-control" id="actiontable"  value="{{record.actiontable}}" placeholder="Entrer actiontable">
								</div>
							</div>   
							<div class="col-md-4">
								<div class="form-group required">
									<label class="control-label" for="registerName">Action</label >
									<input name="action" type="text" class="form-control" id="action"  value="{{record.action}}" placeholder="Entrer action">
								</div>
							</div>   
							<div class="col-md-4">
								<div class="form-group required">
									<label class="control-label" for="registerName">Date</label >
									<input name="actiondate" type="datetime" class="form-control" id="actiondate"  value="{{record.actiondate}}" placeholder="Entrer actiondate">
								</div>
							</div>   
							<div class="col-md-4">
								<div class="form-group required">
									<label class="control-label" for="registerName">Identifiant de l'entité</label >
									<input name="entityid" type="number" class="form-control" id="entityid"  value="{{record.entityid}}" placeholder="Entrer entityid">
								</div>
							</div>   
							<div class="col-md-4">
								<div class="form-group required">
									<label class="control-label" for="registerName">Adresse IP</label >
									<input name="ipadress" type="text" class="form-control" id="ipadress"  value="{{record.ipadress}}" placeholder="Entrer ipadress">
								</div>
							</div>   </div>
                        <div class="row" >
                            <div class="col-md-3">
                                <a href="#" class="btn btn-danger btn-block">Annuler</a>
                            </div>
                            <div class="col-md-3 ">
                                <button type="submit" class="btn btn-success btn-block" data-attach-loading>Enregistrer</button>
                            </div>
                        </div>
             
                    
               </form>
        </fieldset>
	  </div>

		

		